<div class="top-categories">
    <div class="top-categories--text">
        <span>Tags más buscados</span>
    </div>
    <div class="top-categories--tags">
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
        <div class="primary-tag">
            <span>Albañiles</span>
        </div>
    </div>
</div>