@mixin flex-box-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin absolute-element {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

@mixin absolute-pseudoelement {
    @include absolute-element();
    content: '';
}

.top-categories {
    width: 100%;
    padding: 7px 30px 7px 15px;
    border-bottom: 1px solid var(--color-support-light);
    @include flex-box-center();

    &--text {
        font-size: 14px;
        font-weight: 500;
        margin-right: 28px;
    }

    &--tags {
        @include flex-box-center();
        flex-grow: 1;

        & .primary-tag {
            margin-right: 7px;

            &::before {
                background-color: rgba(255, 255, 255, 0);
                @include absolute-pseudoelement();
                transition: .3s background-color ease;
            }
            
            &:hover {
                cursor: pointer;
                
                &::before {
                    background-color: rgba(255, 255, 255, .14);
                    transform: scale(1.05);
                }

            }
        }
    }
}