.navbar-main {
    --size-header: 63px;
    min-height: var(--size-header);
    border-bottom: 1px solid var(--color-support-light);
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    display: flex;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--oppsite-color);
    z-index: var(--index-main);

    & > *:not(:last-child) {
        margin-right: 14px;
    }

    &--search {
        --size-input: 32px;
        position: relative;
        z-index: 1;
        // margin: 0 auto;
        min-width: 400px;

        &-icon {
            background-color: white;
            border-radius: calc(var(--size-input) / 2);
            border: 2px solid var(--color-primary-dark);
            margin: -2px;
            color: var(--color-primary-dark);
        }

        &-input {
            height: var(--size-input);
            margin-left: calc((var(--size-input) - (var(--size-input) * 2)) + 2px);
            z-index: -1;
            position: relative;
            border-radius: calc(var(--size-input) / 2);
            overflow: hidden;
            width: 100%;

            & input {
                padding-left: calc(var(--size-input) + 10px);
                height: 100%;
                border: none;
                width: 100%;
                transition: 0.2s background-color ease-in-out;
                font-weight: 500;

                &:hover {
                    background-color: var(--color-support-light);
                }

                &:focus {
                    outline: none;
                    background-color: var(--color-support-light);
                }

                &::placeholder {
                    color: var(--color-support-dark);
                }
            }
        }
    }

    &--button {
        &-menu {
            --size: 36px;
            height: var(--size);
            width: var(--size);
            // background-color: var(--color-primary);
            color: white;
            border-radius: 14px 7px;

            display: flex;
            align-items: center;
            justify-content: center;

            & span {
                height: 4px;
                border-radius: 7px 3px;
                display: block;
                background-color: var(--color-primary);

                transition: 0.3s width ease-in-out, 0.3s background-color ease-in-out, 0.3s border ease-in-out;

                &:nth-child(2) {
                    width: 80%;
                }

                &:last-child {
                    width: 50%;
                }
            }

            &:hover {
                cursor: pointer;

                & span {
                    background-color: white;
                    border: 1px solid var(--color-primary-dark);
                }
            }

            & .hamburguer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &.disabled {
                    & span {
                        background-color: white;
                        border: 1px solid var(--color-primary-dark);
                        &:first-child {
                            width: 80%;
                        }

                        &:nth-child(2) {
                            width: 60%;
                        }

                        &:last-child {
                            width: 30%;
                        }
                    }

                    &:hover {
                        & span {
                            background-color: var(--color-primary-dark);
                            border: none;
                        }
                    }
                }
            }
        }

        &-login {
            margin-left: auto;
        }
    }

    &--connected {
        display: flex;
        margin-left: auto;

        &-item {
            position: relative;

            &:not(:last-child) {
                margin-right: 14px;
            }
        }
    }
}

.section-loggedIn {
    margin-left: auto;
}

.notification {
    &-alert {
        position: relative;
        &--button {
            --size: 36px;
            height: var(--size);
            width: var(--size);
            background-color: var(--color-support-light);
            border-radius: calc(var(--size) / 2);
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: 0.2s background-color ease-in-out;

            & > .sm-icon {
                color: var(--color-primary-dark);
                transition: 0.2s color ease-in-out;
            }

            &:hover {
                background-color: var(--color-primary-light);
                cursor: pointer;

                & > .sm-icon {
                    color: white;
                }
            }

            &-badge {
                --size-badge: 22px;
                --medio-negative: calc((var(--size-badge) - (var(--size-badge) * 2)) / 2);
                position: absolute;
                height: var(--size-badge);
                width: var(--size-badge);

                background-color: var(--color-primary-dark);
                top: var(--medio-negative);
                right: var(--medio-negative);
                border-radius: calc(var(--size-badge) / 2);

                color: white;
                text-align: center;
                font-weight: 600;

                display: flex;

                & span {
                    margin: auto;
                }
            }
        }
    }
}

.profile-member {
    display: flex;
    align-items: center;

    &--photo {
        --size-photo: 36px;
        --size-border: 2px;
        margin-right: 7px;
    }

    &--name {
        margin-right: 14px;
        width: 98px;

        & span {
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 600;
        }
    }

    &--button {
        margin: 0;
        border: none;
        padding: 0;
        background-color: transparent;
    }
}
