.footer-main {
    background-color: var(--color-secondary-light);
    width: 100%;
    color: white;
    padding: 35px 0 0;

    &--top {
        padding-bottom: 28px;

        &-group {
            font-size: 16px;

            & > span {
                display: block;
                font-size: 21px;
                font-weight: 700;
                font-family: var(--font-display);
                margin-bottom: 17px;
                padding-bottom: 17px;
                color: white;
            }
        }
    }

    &--lower {
        padding: 21px 30px 21px 15px;
        border-top: 1px solid var(--color-support-light);
        color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &-logo {
            fill: white;
            width: 81px;
            margin-bottom: -3px;
        }

        &-copyright {
            font-size: 11px;
            margin: 0;
        }
    }
}

.top-group {
    &--nav {
        &-item {
            text-decoration: none;
            // font-weight: 500;
            display: block;
            color: var(--color-support-light);

            &:not(:last-child) {
                margin-bottom: 21px;
            }

            & span {
                display: block;
                padding: 7px 0;
                border-radius: 3px 7px;
                transition: 0.3s background-color ease-in-out, 0.3s padding ease-in-out;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.35);
                    padding-left: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 993px) {
    .footer-main {
        &--top {
            margin-bottom: -28px;

            &-group {
                margin-bottom: 28px;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .footer-main {
        text-align: center;

        &--top {
            &-group {
                & > span {
                    border-bottom: 1px solid var(--color-support-dark);
                }
            }
        }

        &--lower {
            flex-direction: column;

            &-logo {
                margin-bottom: 8px;
            }
        }
    }
}
