/**
* icon system
*/

@mixin icon-properties {
  flex: 0 0 var(--size-base);
  max-width: var(--size-base);
  max-height: var(--size-base);
  font-size: var(--size-child);
  height: var(--size-base);
  width: var(--size-base);
  color: currentColor;

  display: flex;
  justify-content: center;
  align-items: center;

  &>* {
    font-size: var(--size-child);
    max-height: var(--size-child);
    max-width: var(--size-child);
    object-fit: contain;
    margin: 0;
    color: currentColor;
    width: 100%;

    & * {
      color: currentColor;
    }
  }
}

.default-icon,
.input-icon,
.sm-icon,
.md-icon,
.b-icon,
.icon-valuation {
  @include icon-properties();
}

.default-icon {
  --size-base: 30px;
  --size-child: 14px;
}

.input-icon {
  --size-base: 16px;
  --size-child: 10px;
}

.sm-icon {
  --size-base: 30px;
  --size-child: 18px;
}

.md-icon {
  --size-base: 30px;
  --size-child: 21px;
}

.b-icon {
  --size-base: 49px;
  --size-child: 42px;
}

.icon-valuation {
  --size-base: 14px;
  --size-child: 14px;

  svg {
    .cls-1 {
      fill: transparent;
      transition: .3s fill ease;
    }
  }

  &.active {
    svg {
      .cls-1 {
        fill: yellow;
      }
    }
  }
}

.badge-info {
  --size: 22px;
  font-size: 11px;
  height: var(--size);
  width: var(--size);
  flex: 0 0 var(--size);
  color: white;
  background-color: skyblue;
  border-radius: calc(var(--size) / 2);

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: inherit;
    line-height: 1em;
  }
}

.primary-button,
.alternate-button {
  --background-color: var(--color-primary-dark);
  --color-text-content: white;
  --background-color-icon: white;
  --color-icon: var(--color-primary-dark);
  --size-element: 36px;
  height: var(--size-element);
  border-radius: calc(var(--size-element) / 2);
  background-color: var(--background-color);
  padding: 2px;
  min-width: 1px;
  border: none;
  font-family: var(--font-display);
  transition: .3s all ease;

  &:not(div) {
    box-shadow: 0 0 5px rgba(0, 0, 0, .12),
      0 2px 5px rgba(0, 0, 0, .24);
  }


  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  &:first-letter {
    text-transform: capitalize;
  }

  &--icon {
    --size-element: 32px;
    height: var(--size-element);
    width: var(--size-element);
    flex: 0 0 var(--size-element);
    background-color: var(--background-color-icon);
    color: var(--color-icon);
    border-radius: calc(var(--size-element) / 2);

    svg {
      fill: currentColor;
    }
  }

  &--content {
    padding: 0;
    color: var(--color-text-content);
    width: 0px;
    overflow: hidden;
    font-weight: 500;
    font-size: 16px;


    will-change: transform;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &:not(div):hover {
    transform: translateY(-3px);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.21), 0 7px 12px rgba(0, 0, 0, 0.34);
  }

  &:hover,
  &.active {
    min-width: 152px;
    cursor: pointer;

    .primary-button,
    .alternate-button {
      &--content {
        padding: 0 16px;
        width: auto;
        overflow: visible;
      }
    }
  }

  &.o-right {
    &>*:first-child {
      order: 1;
    }
  }
}

.alternate-button {
  --background-color: white;
  --color-text-content: var(--color-primary-dark);
  --background-color-icon: var(--color-primary-dark);
  --color-icon: white;
}

.primary-tag {
  --size-tag: 21px;
  height: var(--size-tag);
  background-color: var(--color-primary-dark);
  padding: 0 10px;
  border-radius: calc(var(--size-tag) / 2);
  font-family: var(--font-source);
  font-size: 12px;
  font-weight: 500;
  color: white;
  text-align: center;
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  will-change: transform;

  transition: .2s transform ease;

  &:hover {
    transform: scale(1.03);
  }
}

.header-section {

  &--first {
    &>*:first-child {
      font-size: 42px;
      font-weight: 700;
      font-family: var(--font-display);
      color: var(--color-secondary-dark);
      margin: 0 0 3px;
    }

    &>*:nth-child(2) {
      font-size: 14px;
      font-weight: 500;
    }
  }

  &--second {

    &>*:first-child {
      font-size: 35px;
      font-weight: 600;
      margin: 0 0 3px;
      font-family: var(--font-display);
      color: var(--color-secondary-dartk);
    }
  }

  &--third {

    &>*:first-child {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 3px;
    }
  }

  &--fourth {

    &>*:first-child {
      font-size: 21px;
    }
  }
}

/**
 * Form Components
 */

.input {
  --color-focus: 103, 20, 143;
  --color-container: 255, 255, 255;
  margin-bottom: 16px;

  .textarea{
    height: 100px;
  }

  &-container {

    --size-element: 42px;
    height: var(--size-element);
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0 6px 0 21px;
    font-size: 21px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: var(--color-primary-dark);



   & textarea{
    width: 332px;
    height: 79px;
    flex-grow: 1;
    z-index: 2;
    background-color: transparent;
    font-weight: 400;
    padding: 0;
    border: none;

    &:focus {
      outline: none;
    }

    &:focus~.input-container--box {
      border: 1px solid var(--color-primary-dark);
      box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075), 0 0 0 0.2em rgba(var(--color-focus), .3)
    }

    &:valid~label {
      transform: translateY(-48px);
      font-size: 10px;
    }

    &:focus~label {
      transform: translateY(-48px);
      font-size: 10px;
    }
    
  }


    & input{
      flex-grow: 1;
      z-index: 2;
      background-color: transparent;
      font-weight: 400;
      padding: 0;
      border: none;

      &:focus {
        outline: none;
      }

      &:focus~.input-container--box {
        border: 1px solid var(--color-primary-dark);
        box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075), 0 0 0 0.2em rgba(var(--color-focus), .3)
      }

      &.active~label,
      // &:invalid~label,
      &:focus~label,
      &:valid~label {
        transform: translateY(-21px);
        font-size: 11px;
      }
      

      // &:invalid {
      //     color: red;
      // }

      // &:invalid~label {
      //     color: red;
      // }

      // &:invalid~.input-container--box{
      //     color: red;
      //     border: 1px solid currentColor;
      //     box-shadow: inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 0.2em rgba(255, 0, 0, 0.3)
      // }

      // &:invalid~.input-container--icons {
      //     color: red;
      // }
    }

    & label {
      position: absolute;
      left: 21px;
      color: var(--color-secondary-dark);
      font-weight: 500;
      background: rgba(var(--color-container), 1);
      padding: 0 14px 0 7px;
      transition: .3s all ease;
      height: 1.4em;
      line-height: 1em;
      display: flex;
      align-items: center;
    }

    &--box {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: calc(var(--size-element) / 2);
      border: 1px solid var(--color-support-dark);
      z-index: -1;

      transition: .3s box-shadow ease,
        .3s border ease;
    }

    &--icons {
      position: relative;
      flex: 0 0 30px;
      height: 30px;
      color: currentColor;
      border-radius: 0 calc(100% / 2) calc(100% / 2) 0;
      overflow: hidden;
      perspective: 1000px;

      display: flex;
      justify-content: center;
      align-items: center;

      &-indicator {
        color: currentColor
      }

      &-clean {
        transition: .3s all ease;

        &:hover {
          cursor: pointer;
          background-color: var(--color-primary-light);
        }
      }
    }
  }

  &-validation {
    --size-container: 19px;
    min-height: var(--size-container);
    color: red;
    display: flex;
    align-items: flex-end;

    &--tag {
      --size-tag: 15px;
      height: var(--size-tag);
      padding: 0 14px 0 7px;
      border-radius: 3px 6px;
      background-color: currentColor;

      display: flex;
      justify-content: center;
      align-items: center;

      & span {
        color: white;
        font-size: 12px;
        font-weight: 500;
      }
    }

    &--message {
      margin-left: auto;
      font-size: 12px;

      span {
        font-weight: 500;
        color: currentColor;
      }
    }
  }
}

.translate-element {
  transform: translateX(-100%);
}

.checkbox,
.recover {

  &-container {
    font-size: 12px;
    font-weight: 500;
    font-family: var(--forn-source);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    & input[type="checkbox"] {
      margin-top: 2px;
    }

    & input[type="checkbox"],
    & .input-icon {
      margin: 0;
      margin-right: 7px;
    }
  }
}

.radio {
  // padding-left: 16px;
  padding-left: 6px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    
    & .radio-circles::before{
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &-circles {
    --size-circles: 20px;
    height: calc(var(--size-circles) * 2);
    width: calc(var(--size-circles) * 2);
    position: relative;
    z-index: 1;
    // margin: 10px;

    &::before,
    & input,
    &--outer,
    &--inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    &::before {
      content: '';
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, .04);
      z-index: -1;
      transform: translate(-50%, -50%) scale(.0001);
      transition: .3s transform ease-in-out;
    }

    & input {
      transform: scale(.0001);

      &:checked~.radio-circles--outer {
        border: 2px solid var(--color-primary-dark);
      }
      &:checked~.radio-circles--inner {
        transform: translate(-50%, -50%) scale(.5);
      }
    }
    
    &--outer {
      border: 2px solid rgba(112, 112, 112, 1);
    }

    &--outer,
    &--inner {
      height: var(--size-circles);
      width: var(--size-circles);
      border-radius: calc(var(--size-circles) / 2);
      transition: border .2s ease;
    }
    
    &--inner {
      height: var(--size-circles);
      width: var(--size-circles);
      background-color: var(--color-primary-dark);
      transform: translate(-50%, -50%) scale(0.0001);
      transition: transform .2s ease;
    }

  }
}

.group-radio {
  margin-bottom: 6px;

  &--label {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
  }
}