* {

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary-dark);
}

p {
    margin: 0 0 10px 0;
}