/**
 * Login & Register
 */
.main {
    &-wrapper {
        max-height: 100vh;
        height: 100vh;
        overflow: hidden;
        width: 100%;
        z-index: 1;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        &--background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;

            &-filter {
                background: linear-gradient(90deg, var(--color-primary-dark), var(--color-secondary-dark));
                height: 100%;
                width: 100%;
                position: absolute;
                opacity: 0.35;
            }

            & img {
                height: 100%;
                object-fit: cover;
            }
        }

        &--container {
            --size-base-container: 720px;
            border-radius: 14px 35px;
            padding: 0;
            overflow: hidden;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.49);
            height: var(--size-base-container);
            display: flex;
            background: linear-gradient(180deg, var(--color-primary-dark), var(--color-secondary-dark));

            &-form,
            &-welcome {
                height: 100%;
            }

            &-form {
                & form {
                    background: white;
                    margin: 0 -15px;
                    border-radius: 14px 35px;

                    height: var(--size-base-container);
                    overflow: hidden;
                }
            }

            &-welcome {
                padding: 49px;

                display: flex;
                flex-direction: column;
            }
        }
    }
}

.container {
    &-form {
        &--logo {
            max-width: 114px;
            color: var(--color-primary-dark);
            margin-bottom: 42px;
        }

        &--header {
            text-transform: uppercase;
            color: var(--color-secondary-dark);
            font-size: 21px;
            font-weight: 500;
            margin-bottom: 28px;
        }

        &--scrollable {
            padding: 70px 35px;
            height: 100%;
            overflow-y: scroll;
            margin-right: -17px;
        }

        &--body {
            height: calc(100% - 160px);
            display: flex;
            flex-direction: column;

            &-links,
            &-buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-links {
                margin-bottom: 77px;
            }

            &-buttons {
                justify-content: flex-end;
                margin-top: auto;

                & .primary-button {
                    margin-left: 14px;
                }
            }
        }
    }

    &-welcome {
        &--header {
            color: white;
            font-size: 16px;
            font-weight: 300;

            & h2 {
                font-family: var(--font-display);
                font-size: 28px;
                font-weight: 700;
                margin-bottom: 7px;
            }
        }

        &--image {
            margin-left: auto;
            margin-top: auto;
        }
    }
}

.go-register {
    text-align: right;
    font-size: 10px;
    font-weight: 600;

    & span {
        display: block;

        &:last-child {
            font-size: 14px;
            color: var(--color-primary-dark);
            font-weight: 700;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

/**
   * Categories
   */

.categories {
    padding: 63px 15px 0 15px;
    margin-bottom: 63px;

    .header-section {
        &--fourth {
            margin-bottom: 35px;
            min-width: 100%;
        }
    }

    &-list {
        --size-category: 182.5px;
        min-width: 100%;
        display: flex;

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(6, var(--size-category));
            gap: 15px;
            margin: 0 auto;
        }

        &--item {
            height: var(--size-category);
            border-radius: 14px 63px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            font-family: var(--font-display);
            color: var(--color-primary-dark);
            background-color: white;
            min-width: var(--size-category);
            min-height: var(--size-category);

            display: flex;
            justify-content: center;
            align-items: center;

            will-change: transform;

            transition: 0.3s background-color ease-in-out, 0.2s transform ease-in-out, 0.3s border-radius ease-in-out;

            & .b-icon {
                margin: 0 auto;
                margin-bottom: 14px;
            }

            &-content {
                & span {
                    font-size: 18px;
                    font-weight: 500;
                    transition: 0.3s color ease;
                }
            }

            &:hover,
            &.active {
                transform: translateY(-3px);
                background-color: var(--color-primary-dark);
                color: white;
                cursor: pointer;
                border-radius: 63px 14px;
            }

            &.active {
                transform: scale(1);

                &:hover {
                    transform: scale(1.025);
                }
            }

            &:focus {
                outline: none;
            }
        }
    }
}

@media screen and (max-width: 1341px) {
    .categories {
        &-list {
            --size-category: 180px;
        }
    }
}

@media screen and (max-width: 1315px) {
    .categories {
        &-list {
            --size-category: 175px;
        }
    }
}

@media screen and (max-width: 1290px) {
    .categories {
        &-list {
            --size-category: 170px;
        }
    }
}

@media screen and (max-width: 1260px) {
    .categories {
        &-list {
            &__wrapper {
                grid-template-columns: repeat(5, var(--size-category));
            }
        }
    }
}

@media screen and (max-width: 1201px) {
    .main-wrapper {
        &--container {
            &-form,
            &-welcome {
                flex: 0 0 50%;
            }
        }
    }
}

@media screen and (max-width: 993px) {
    .main-wrapper {
        &--container {
            --size-container: 500px;
            flex-wrap: wrap;

            width: var(--size-container);
            flex: 0 0 var(--size-container);

            &-form,
            &-welcome {
                flex: 0 0 100%;
            }

            &-welcome {
                display: none;
            }
        }

        &--background {
            &-filter {
                opacity: 0.95;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .categories {
        &-list {
            --size-category: 160px;
        }
    }
}

@media screen and (max-width: 895px) {
    .categories {
        &-list {
            &__wrapper {
                grid-template-columns: repeat(4, var(--size-category));
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .container-form {
        &--body {
            &-buttons {
                & button {
                    margin: initial;
                }
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .categories {
        &-list {
            &__wrapper {
                grid-template-columns: repeat(3, var(--size-category));
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .main-wrapper {
        &--container {
            --size-container: calc(100% - 30px);
        }
    }
}

@media screen and (max-width: 550px) {
    .categories {
        &-list {
            &__wrapper {
                grid-template-columns: repeat(2, var(--size-category));
            }
        }
    }
}

@media screen and (max-width: 372px) {
    .categories {
        &-list {
            &__wrapper {
                grid-template-columns: repeat(1, var(--size-category));
            }
        }
    }
}
