$color-primary: rgb(149, 80, 182);
$color-primary-dark: rgb(103, 20, 143);
$color-primary-light: rgb(212, 142, 245);

$color-facebook: rgba(66, 103, 178, 1);
$color-messenger: linear-gradient(180deg, rgba(0, 178, 253, 1), rgba(2, 127, 255, 1));
$color-whatsapp: rgba(0, 230, 118, 1);
