:root {
  --color-primary: rgb(149, 80, 182);
  --color-primary-dark: rgb(103, 20, 143);
  --color-primary-light: rgb(212, 142, 245);

  // Secondary
  --color-secondary: rgb(25, 25, 39);
  --color-secondary-dark: rgb(12, 12, 18);
  --color-secondary-light: rgb(61, 61, 71);

  // Gray
  --color-support: rgb(189, 189, 189);
  --color-support-dark: rgb(166, 166, 166);
  --color-support-light: rgb(240, 240, 240);

  // Fonts
  --font-display: 'Quicksand', sans-serif;
  --font-source: 'Source Sans Pro', sans-serif;
}

.ico {
  position: relative;
  height: 100%;
  width: 100%;

  &.register-primary,
  &.register-alternate,
  &.save-primary,
  &.save-alternate,
  &.home-primary,
  &.home-alternate,
  &.search-primary,
  &.gardening-primary,
  &.gardening-alternate {
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: contain;
      background-position: center;
      background-size: contain;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.register-primary {
    &::before {
      background-image: url("assets/svg/register-primary.svg");
    }
  }

  &.register-alternate {
    &::before {
      background-image: url("assets/svg/register-alternate.svg");
    }
  }

  &.save-primary {
    &::before {
      background-image: url("assets/svg/save-primary.svg");
    }
  }
  &.save-alternate {
    &::before {
      background-image: url("assets/svg/save-alternate.svg");
    }
  }
  &.home-alternate {
    &::before {
      background-image: url("assets/svg/home-alternate.svg");
    }
  }
  &.search-primary {
    &::before {
      background-image: url("assets/svg/save-primary.svg");
    }
  }
  &.gardening-primary {
    &::before {
      background-image: url("assets/svg/planta-primary.svg");
    }
  }
  &.gardening-alternate {
    &::before {
      background-image: url("assets/svg/planta-alternative.svg");
    }
  }
}

.background{
  margin: 0;
  padding: 0;
  background-image: url('assets/images/fondo.jpg') ;
}