<div class="main" (scroll)="onScrollEvent($event)" (click)="detectScroll($event)">

    <div class="main-sidenav" #sidenavComponent>
        <sidenav [stateSidenav]="toggleSidenav" *ngIf="toggleSidenav"></sidenav>
    </div>

    <div class="main-content" #mainContent>
        <toolbar (toggleEvent)="receivedStateSidenav($event)"></toolbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>

</div>
<cta-login-component></cta-login-component>
<quote-dialog-component></quote-dialog-component>
