.main {
    display: flex;
    overflow: hidden;
    min-height: 100vh;

    &-sidenav {
        flex: 0 0 126px;
        opacity: 1;

        transition: 0.3s flex ease-in-out, 0.2s opacity ease-in-out;

        &.closed {
            flex: 0 0 0;
            opacity: 0;
        }
    }

    &-content {
        flex-grow: 1;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        overflow: hidden;
        background-color: var(--color-wrapper);
        max-height: 100vh;
        overflow-y: auto;
        margin-right: -17px;
        z-index: 1;
        box-shadow: -3px 0 6px rgba(0, 0, 0, 0.16);

        transition: 0.2s border-radius ease-in-out;

        &.extended {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}
