<div class="main-wrapper">
    <div class="main-wrapper--background">
        <div class="main-wrapper--background-filter"></div>
        <img src="assets/images/wrappers/login.jpg" alt="Inicia Sesión">
    </div>

    <div class="main-wrapper--container grid-container grid-10">
        <div class="grid-5">
            <form class="main-wrapper--container-form" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
                <div class="container-form--scrollable">
                    <div class="container-form--logo">
                        <logo-component></logo-component>
                    </div>
                    <div class="container-form--header">
                        <span>Iniciar Sesión</span>
                    </div>
                    <div class="container-form--body">

                        <div class="input" [ngClass]="{'invalid': getError('emailUser')}">
                            <div class="input-container">
                                <input type="text" id="emailUser" required formControlName="emailUser">
                                <div class="input-container--box"></div>
                                <label for="emainUser">Correo</label>
                                <div class="input-container--icons">
                                    <div class="default-icon input-container--icons-indicator">
                                        <i class="fas fa-user-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-validation" *ngIf="loginForm.get('emailUser').invalid && loginForm.get('emailUser').touched">
                                <!-- <div class="input-validation--tag">
                                    <span>Requerido</span>
                                </div> -->
                                <div class="input-validation--message">
                                    <span>{{ getErrorsEmail() }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="input" [ngClass]="{'invalid': getError('passwordUser')}">
                            <div class="input-container">
                                <input type="password" id="passwordUser" required formControlName="passwordUser">
                                <div class="input-container--box"></div>
                                <label for="passwordUser">Contraseña</label>
                                <div class="input-container--icons">
                                    <div class="default-icon input-container--icons-indicator">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-validation" *ngIf="loginForm.get('passwordUser').invalid && loginForm.get('passwordUser').touched">
                                <!-- <div class="input-validation--tag">
                                    <span>Requerido</span>
                                </div> -->
                                <div class="input-validation--message">
                                    <span>{{ getErrorsPassword() }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="container-form--body-links">
                            <div class="checkbox">
                                <div class="checkbox-container">
                                    <input type="checkbox" name="" id="recordar-contraseña">
                                    <label for="recordar-contraseña">Recordar contraseña</label>
                                </div>
                            </div>

                            <div class="recover">
                                <div class="recover-container">
                                    <div class="input-icon">
                                        <i class="fas fa-lock-open"></i>
                                    </div>
                                    <span>Olvide mi contraseña</span>
                                </div>
                            </div>
                        </div>

                        <div class="container-form--body-buttons">
                            <div class="go-register" routerLink="/register">
                                <span>¿Aun no tienes cuenta?</span>
                                <span>Ir a regristrarme</span>
                            </div>
                            <button class="primary-button active" [disabled]="loginForm.invalid">
                                <div class="primary-button--icon">
                                    <div class="md-icon">
                                        <i class="ico register-primary"></i>
                                    </div>
                                </div>
                                <div class="primary-button--content">
                                    <span> Iniciar Sesión</span>
                                </div>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="grid-7">
            <div class="main-wrapper--container-welcome">
                <div class="container-welcome--header">
                    <h2>Encuentra al "chamba" que necesitas</h2>
                    <p>Inicia sesión, cuéntanos lo que necesitas y consigue coticaciones GRATIS y sin compromisos. Tu
                        decides.</p>
                </div>
                <div class="container-welcome--image grid-9">
                    <graphic-login></graphic-login>
                </div>
            </div>
        </div>
    </div>

</div>
