
<div class="footer-main">
    <div class="footer-main--top grid-container">
        <div class="grid-3"><span>algo</span></div>
        <div class="grid-3"><span>algo</span></div>
        <div class="grid-3"><span>algo</span></div>
        <div class="grid-3"><span>algo</span></div>
    </div>
    <div class="footer-main--lower">
        <span class="footer-main--lower-logo">
            <img src="" alt="">
        </span>
        <span class="footer-main--lower-copyright">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam</p>
        </span>
    </div>
</div>
