a {
    display: block;
    color: #A6A6A6;
    
}


.footer-main{
    background-color: #3D3D47;
    width: 100%;
    color: white;
    bottom: 0;
    margin: 0;
    position: fixed;

    &--top {
        padding: 21px 35px;

        &span {
            font-size: 17px;
            font-weight: bolder;
        }

        & a {
            text-decoration: none;
            margin: 20px 0 13px 0px;
            font-size: 11px;
        }

    }

    &--lower {
        padding: 14px;
        border-top: 1px solid white;
        display: flex;
        justify-content: space-between;
        
        
        &-logo {
            fill: white;
            
            width: 100px;
            
        }
    }
}