<div class="card-action">
    <div class="card-action--wrapper">
        <div class="card-action--header">
            <div class="form-main--header-top">
                <div class="header-top--icon">
                    <div class="md-icon">
                        <i class="ico avion-alternate"></i>
                    </div>
                </div>
                <div class="header-top--logo">
                    <logo-component></logo-component>
                </div>

            </div>
            <div class="form-main--header-bottom">
                <span class="header-bottom--subtitle">Dale ese impulso a tu chamba</span>
                <div class="header-bottom--title">¿Quieres ser profesional en Chamba?</div>
            </div>
        </div>
        <div class="card-action--body">
            <p>Completa el formulario de registro y comienza a recibir solicitudes de cotizaciones, ayúdalos y consigue
                aumentar tus
                ingresos.</p>
            <button class="primary-button active" routerLink="/register">
                <div class="primary-button--icon">
                    <div class="md-icon">
                        <i class="ico register-primary"></i>
                    </div>
                </div>
                <div class="primary-button--content">
                    <span> Completar Registro</span>
                </div>
            </button>
            <div class="card-action--graphic">
                <graphic-launch></graphic-launch>
            </div>
        </div>
    </div>
</div>
