<div class="header-main">
    <div class="primary-button active header-main--search">
        <div class="header-main--search-icon">
            <div class="md-icon">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="header-main--search-input">
            <input type="text" placeholder="Ingresar">
        </div>
    </div>
    <button class="primary-button header-main--button-login">
        <div class="primary-button--icon">
            <div class="md-icon">
                <i class="ico register-primary"></i>
            </div>
        </div>
        <div class="primary-button--content">
             <span>  ingresar</span>
        </div>
    </button>
    <button class="primary-button active">
        <div class="primary-button--icon">
            <div class="md-icon">
                <i class="ico register-primary"></i>
            </div>
        </div>
        <div class="primary-button--content" >
            <span > registarse</span> 
        </div>
    </button>
</div>
