// @mixin border-element($size-base) {
//     border-radius: calc($size-base / 2);
//   }

.header-main {
    --size-header: 63px;
    min-height: var(--size-header);
    border-bottom: 1px solid var(--color-support-light);
    width: 100%;
    padding-right: 30px;
    padding-left: 15px;
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &>*:not(:first-child) {
        margin-right: 14px;
    }

    &--search {
        --size-input: 32px;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        min-width: 400px;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);

        &-icon {
            background-color: white;
            border-radius: calc(var(--size-input) / 2);
            border: 2px solid var(--color-primary-dark);
            margin: -2px;
            color: var(--color-primary-dark);
        }
        
        &-input {
            height: var(--size-input);
            margin-left: calc((var(--size-input) - (var(--size-input) * 2)) + 2px);
            z-index: -1;
            position: relative;
            border-radius: calc(var(--size-input) / 2);
            overflow: hidden;
            width: 100%;
            
            & input {
                padding-left: calc(var(--size-input) + 10px);
                height: 100%;
                border: none;
                width: 100%;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: var(--color-support-dark);
                }
            }
        }
    }

    &--button {

        &-login {
            transform-origin: right;
            min-width: initial;
            width: 36px;
            transition: .3s width ease;

            &:hover {
                width: 152px;
            }

            .primary-button--content {
                width: 100%;
            }
        }
    }
}