<div class="header-main">
    <div class="primary-button active header-main--search">
        <div class="primary-button--icon">
            <div class="default-icon md-icon">
                <i class="ico search-primary"></i>
            </div>
        </div>
        <div class="header-main--search-input">
            <input type="text" placeholder="Ingresar">
        </div>
    </div>
    <button class="primary-button">
        <div class="primary-button--icon">
            <div class="default-icon md-icon">
                <i class="ico register-primary"></i>
            </div>
        </div>
        <div class="primary-button--content">
            <span>ingresar</span>
        </div>
    </button>
    <button class="primary-button active">
        <div class="primary-button--icon">
            <div class="default-icon md-icon">
                <i class="ico register-primary"></i>
            </div>
        </div>
        <div class="primary-button--content">
            <span>registarse</span>
        </div>
    </button>

</div>
