@mixin absolute-element {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

@mixin absolute-pseudoelement {
    content: "";
    @include absolute-element();
}

.main-content {
    &--wrapper {
        background-color: white;
    }
}

.banner-main {
    padding: 21px 15px;
    border-bottom: 1px solid var(--color-support-light);

    &--content {
        position: relative;
        z-index: 1;
        border-radius: 21px 7px;
        overflow: hidden;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
        padding: 21px 0;

        &-image {
            @include absolute-element();
            z-index: -1;
        }

        &-quote {
            padding: 35px 49px 28px;
            color: white;
            font-family: var(--font-display);
            font-weight: 500;
        }
    }
}

.content {
    &-image {
        &--fillter {
            @include absolute-element();
            background-color: var(--color-secondary-light);
            opacity: 0.14;
        }
    }

    &-quote {
        &--header {
            margin-bottom: 14px;
            text-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);

            &-title {
                font-size: 42px;
                line-height: 1.565em;
                margin: 0;
            }

            &-subtitle {
                font-size: 15px;
            }
        }

        &--form {
            --size-form: 42px;

            &-inputs {
                height: var(--size-form);
                border-radius: calc(var(--size-form) / 2);
                max-width: 700px;
                background-color: white;
                overflow: hidden;
                margin-bottom: 7px;

                display: flex;
                justify-content: flex-start;

                & input,
                & select,
                & button {
                    height: 100%;
                    border: none;
                    font-family: inherit;
                    font-weight: 400;
                }

                & input,
                & select {
                    flex-basis: 250px;
                    border: 1px solid var(--color-support-light);
                    padding: 11px 14px;
                    font-size: 16px;
                    transition: 0.3s background-color ease;
                    font-weight: 500;

                    &:focus,
                    &:hover {
                        background-color: var(--color-support-light);
                    }
                }

                & input {
                    border-top-left-radius: calc(var(--size-form) / 2);
                    border-bottom-left-radius: calc(var(--size-form) / 2);
                }

                & button {
                    background-color: var(--color-primary-dark);
                    color: white;
                    flex-grow: 1;
                    font-weight: 700;
                    font-size: 15px;
                    position: relative;
                    overflow: hidden;

                    &::before {
                        @include absolute-pseudoelement();
                        transition: 0.3s background-color ease;
                        opacity: 0.07;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            & > span {
                font-size: 12px;
                font-family: var(--font-source);
            }
        }
    }
}

/**
  * Testimonials
  */

.testimonials {
    background-color: var(--color-support-light);
    text-align: center;
    padding: 35px 15px 0 15px;
    position: relative;
    margin-bottom: 94px;

    & .header-section--third {
        margin-bottom: 35px;
    }

    &-list {
        & .grid-row {
            justify-content: space-around;
        }
    }

    &-action {
        margin-top: 70px;
    }

    &-card {
        border-radius: 7px 21px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
        padding: 28px 21px 35px;
        background-color: white;

        flex: 0 0 250px;

        &--description {
            margin-bottom: 16px;
            font-weight: 500;

            &::first-letter {
                font-size: 35px;
                font-family: var(--font-display);
                font-weight: 700;
            }
        }

        &--professional {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 21px;

            &-image {
                --size-image: 42px;
                height: var(--size-image);
                width: var(--size-image);
                flex: 0 0 var(--size-image);
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
                border: 3px solid white;
                border-radius: calc(var(--size-image) / 2);
                overflow: hidden;
                display: inline-block;
                margin-right: 14px;

                & img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-data {
                text-align: left;
            }
        }

        &--user {
            text-align: right;

            &-name {
                font-weight: 600;
                margin-bottom: 7px;
            }

            &-valuation {
                display: flex;
                justify-content: flex-end;

                & .icon-valuation {
                    margin-bottom: 3px;

                    &:not(:last-child) {
                        margin-right: 3px;
                    }
                }
            }

            &-date {
                font-size: 12px;
                color: var(--color-support-dark);
                font-weight: 500;
            }
        }
    }

    & .primary-button {
        position: absolute;
        bottom: calc((var(--size-element) - (var(--size-element) * 2)) / 2);
        right: 0;
    }
}

.professional-data {
    &--name {
        font-weight: 700;
    }

    &--category {
        font-size: 12px;
        font-weight: 500;
        color: var(--color-support-dark);
    }
}

/**
   * Extra: call to action
   */

.action {
    position: relative;
    z-index: 1;

    &-squares {
        &--item {
            --size-square: 70px;
            --border-radius: 7px 35px;
            position: absolute;
            height: var(--size-square);
            width: var(--size-square);
            border-radius: var(--border-radius);
            background: linear-gradient(45deg, var(--color-primary-dark), white);
            transform: rotate(30deg);
            opacity: 0.56;
            box-shadow: 0 14px 35px rgba(0, 0, 0, 0.16);
            z-index: -1;

            &:first-child {
                --size-square: 149px;
                --border-radius: 35px 7px;
                top: -7%;
                left: 3%;
            }

            &:nth-child(2) {
                --size-square: 61px;
                --border-radius: 3px 21px;
                top: 0%;
                left: 13%;
            }

            &:nth-child(3) {
                --border-radius: 35px 7px;
                --size-square: 149px;
                top: 9%;
                right: 0%;
            }

            &:nth-child(4) {
                --size-square: 61px;
                --border-radius: 3px 21px;
                top: 28%;
                right: 15%;
            }

            &:nth-child(5) {
                --size-square: 597px;
                --border-radius: 63px 169px;
                top: 21%;
                right: -10%;
            }
        }
    }

    &-wrapper {
        max-width: 750px;
        width: 100%;
        margin: 0 auto;

        & .header-section--second {
            margin-bottom: 42px;
            text-align: right;
        }

        &--group {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 21px 15px;
            text-align: right;
            margin-bottom: 63px;

            &:nth-child(even) {
                & button {
                    margin-left: auto;
                }
            }

            &:nth-child(3) {
                text-align: left;

                & .action-wrapper--group-image {
                    order: 1;
                }
            }

            &-image {
                height: 195px;
                flex: 0 0 180px;
            }

            &-content {
                max-width: 430px;
                font-size: 16px;
                font-weight: 500;

                & h3 {
                    font-size: 28px;
                    font-weight: 700;
                    margin-bottom: 35px;
                    font-family: var(--font-display);
                    color: var(--color-secondary-dark);
                }

                & p:nth-child(2) {
                    margin-bottom: 21px;
                    font-weight: 600;
                }

                & p:nth-child(3) {
                    margin-bottom: 14px;
                    color: var(--color-secondary-light);
                    font-size: 14px;
                }
            }
        }
    }
}
