<div class="worker-template">
    <header-user-component></header-user-component>

    <div class="worker-template--content grid-container">
        <div class="grid-row">
            <div class="grid-3 grid-m-4 grid-s-12">
                <div class="worker-home--user-info rail-section sticky-element">
                    <div class="rail-section--header">
                        <span>Información</span>
                    </div>
                    <div class="rail-section--body">
                        <div class="user-info--list">
                            <div class="user-info--list-item">
                                <div class="default-icon">
                                    <svg class="icon">
                                        <use xlink:href="/assets/images/icons.svg#icon-location"></use>
                                    </svg>
                                </div>
                                <div class="list-item--data">
                                    <span class="list-item--data-prefix">De</span>
                                    <span class="list-item--data-info">Trujillo, La Libertad</span>
                                </div>
                            </div>
                            <div class="user-info--list-item">
                                <div class="default-icon">
                                    <svg class="icon">
                                        <use xlink:href="/assets/images/icons.svg#icon-location"></use>
                                    </svg>
                                </div>
                                <div class="list-item--data">
                                    <span class="list-item--data-prefix">Normalmante realiza trabajos en</span>
                                    <span class="list-item--data-info">Trujillo, La Libertad</span>
                                </div>
                            </div>
                            <div class="user-info--list-item">
                                <div class="default-icon">
                                    <svg class="icon">
                                        <use xlink:href="/assets/images/icons.svg#icon-date"></use>
                                    </svg>
                                </div>
                                <div class="list-item--data">
                                    <span class="list-item--data-prefix">Registrado desde</span>
                                    <span class="list-item--data-info">Trujillo, La Libertad</span>
                                </div>
                            </div>
                            <div class="user-info--list-item">
                                <div class="default-icon">
                                    <svg class="icon">
                                        <use xlink:href="/assets/images/icons.svg#icon-like"></use>
                                    </svg>
                                </div>
                                <div class="list-item--data">
                                    <span class="list-item--data-prefix">Valoraciones positivas</span>
                                    <span class="list-item--data-info">4.5 en promedio</span>
                                </div>
                            </div>
                            <div class="user-info--list-item">
                                <div class="default-icon">
                                    <svg class="icon">
                                        <use xlink:href="/assets/images/icons.svg#icon-work"></use>
                                    </svg>
                                </div>
                                <div class="list-item--data">
                                    <span class="list-item--data-prefix">Trabajos realizados</span>
                                    <span class="list-item--data-info">13</span>
                                </div>
                            </div>
                            <div class="user-info--list-item">
                                <div class="default-icon">
                                    <svg class="icon">
                                        <use xlink:href="/assets/images/icons.svg#icon-quotes"></use>
                                    </svg>
                                </div>
                                <div class="list-item--data">
                                    <span class="list-item--data-prefix">Cotizaciones realizadas</span>
                                    <span class="list-item--data-info">50</span>
                                </div>
                            </div>
                            <div class="user-info--list-item">
                                <div class="default-icon">
                                    <svg class="icon">
                                        <use xlink:href="/assets/images/icons.svg#icon-contact"></use>
                                    </svg>
                                </div>
                                <div class="list-item--data">
                                    <span class="list-item--data-prefix">Contáctame</span>
                                    <div class="list-item--data-buttons">
                                        <button class="button-icon facebook">
                                            <div class="default-icon">
                                                <i class="fab fa-facebook-f"></i>
                                            </div>
                                        </button>
                                        <button class="button-icon messenger">
                                            <div class="default-icon">
                                                <i class="fab fa-facebook-messenger"></i>
                                            </div>
                                        </button>
                                        <button class="button-icon whatsapp">
                                            <div class="default-icon">
                                                <i class="fab fa-whatsapp"></i>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-5 grid-m-8 grid-s-12">
                <router-outlet></router-outlet>
            </div>
            <div class="grid-4 grid-m-12 grid-s-12">
                <quote-component class="sticky-element"></quote-component>
            </div>
        </div>

    </div>

    <action-professional [contentType]="2"></action-professional>

</div>
