<div class="work-done">
    <div class="worker-done--main">
        <div class="worker-home--user-works rail-section">
            <div class="rail-section--header">
                <span>Trabajos realizados</span>
            </div>
            <div class="rail-section--body">
                <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2]">
                    <worker-post-component></worker-post-component>
                </ng-container>
            </div>
        </div>
    </div>
</div>
