.body{
    padding: 18px 100px 18px 100px;
    display: flex;
    justify-content: space-between;
    
    &-login{
        background: white;
        padding: 40px 25px 10px 40px;

        &--logo{
            width: 30%;
            padding-bottom: 30px;
        }
    }
}
