<div class="background">
    <div class="body">
        <div class="body-register">
            <div class="body-register--logo"> <img src="../../assets/svg/logo-primary.svg" alt=""> </div>


            <p class="body-register--text"> INICIAR SESION </p>
            <form  [formGroup]="formLogin" >
                <div class="body-register--input">
                    <div class="input-global" [ngClass]= "[(formLogin.get('user').touched && formLogin.get('user').invalid)?'is-invalid-in':'']">
                        <div class="input-global--contenedor" >
                            
                            <input class="body-register--text-input "  type="text" name="mail"  (blur)="evaluar(formLogin.get('user'))"  formControlName="user"  id=""> <label for="" class="label-input"> E-mail </label>
    
                            <div class="menssage-button">
                                <div class="input-icon input-register">
                                    <i class="fas fa-user-alt" id="register"></i>
                                </div>
    
                                <div class="ms-icon input-clean" (click)="cleanInput(formLogin.get('user'))">
                                    <i class="fas fa-times-circle" id="clean"></i>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="input-global--menssage"  *ngIf="formLogin.get('user').touched && formLogin.get('user').invalid">
                            <span class="menssage-error">  {{getErrorUserName()}}</span>
    
                            <span class="menssage-errorInfo"> </span>
                        </div>
                    </div>

                    <div class="input-global" [ngClass]= "[(formLogin.get('password').touched && formLogin.get('password').invalid)?'is-invalid-in':'']">
                        <div class="input-global--contenedor" >
                            
                            <input class="body-register--text-input" type="text" name="password" formControlName="password"  id=""  > <label for=""> Password </label>
    
                            <div class="menssage-button">
                                <div class="input-icon input-register">
                                    <i class="fas fa-user-alt" id="register"></i>
                                </div>
    
                                <div class="ms-icon input-clean" (click)="cleanInput(formLogin.get('password'))">
                                    <i class="fas fa-times-circle" id="clean"></i>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="input-global--menssage"  *ngIf="formLogin.get('password').touched && formLogin.get('password').invalid">
                            <span class="menssage-error">  {{getErrorPassword()}}</span>
    
                            <span class="menssage-errorInfo"> </span>
                        </div>
                    </div>
                </div>

                
            </form>
            

            
            <div class="body-register-cuenta">
                <div>
                    <input type="radio" value="cuenta"
                        tabindex="1">
                    <span> </span>
                    <label for="radiobtn_1"> Recordar mi cuenta</label>
                </div>

                <div>
                    <i class="fas fa-unlock icono" ></i>
                    <label for=""> Olvide Contraseña</label>
                </div>

            </div>

            <div class="body-register--button">

                <div class="link">
                    <p>¡Aún no tienes cuenta? </p>
                    <a href="http:// "> Ir a Registrame</a>
                </div>

                <button class="primary-button active">
                    <div class="primary-button--icon">
                        <div class="default-icon md-icon">
                            <i class="ico register-primary"></i>
                        </div>
                    </div>
                    <div class="primary-button--content">
                        <span> Iniciar Sesion</span>
                    </div>
                </button>


            </div>

        </div>

        <div class="body-text">
            <p class="body-text-title"> Encuentra o sé ese profesional</p>
            <div class="body-text-parrafo">
                <p> Inicia Sesion, cuentanos lo que necesitas y consigue cotizaciones GRATIS y sin compromisos.
                    Si eres profesional ofrece tu servicio y genera nuevos ingresos en nuestra comunidad
                </p>
            </div>
            <img src="../../assets/images/register.png" alt="">
        </div>
    </div>
</div>