<div class="background">
    <div class="body">
        <div class="body-login">
            <div class="body-login--logo"> <img src="../../assets/svg/logo-primary.svg" alt=""> </div>

            <div class="body-login--text">
                <p class="body-register--text-register"> INICIAR SESION </p>

                <div class="body-register--text-input">
                    <input type="text" name="" id="" placeholder="E-mail">
                    <input type="password" name="" id="" placeholder="Contraseña"> 
                </div>

                <div class="rbody-register--text-option">
                    <input type="checkbox" name="" id=""> Recordar Contraseña
                    <input type="button" value=""> Olvide mi Contraseña                    
                </div>

                <div class="body-register--text-buttom">
                    <p>¡Aún no tienes cuenta? <a href="http:// "> Registrame</a>
                    </p>
                    <input type="button" value=""> Iniciar Sesion
                </div>
            </div>



            
        </div>

        <div class="body-text">
            <p class="body-text-title"> Encuentra o sé ese profesional</p>
            <div class="body-text-parrafo">
                <p> Inicia Sesion, cuentanos lo que necesitas y consigue cotizaciones GRATIS y sin compromisos.
                    Si eres profesional ofrece tu servicio y genera nuevos ingresos en nuestra comunidad
                </p>
            </div>
            <img src="../../assets/images/register.png" alt="">
        </div>
    </div>
</div>