<div class="background">
    <div class="body">
        <div class="body-register">
            <div class="body-register--logo"> <img src="../../assets/svg/logo-primary.svg" alt=""> </div>


            <p class="body-register--text"> INICIAR SESION </p>

            <div class="body-register--input">
                <div class="input-global">
                    <div class="input-global--contenedor">
                        
                        <input class="body-register--text-input" type="text" name="" id="" placeholder=""> <label for=""> E-mail </label>

                        <div class="menssage--button">
                            <div class="input-icon">
                                <i class="fas fa-user-alt" id="register"></i>
                            </div>

                            <div class="ms-icon">
                                <i class="fas fa-times-circle" id="clean"></i>
                            </div>

                        </div>
                    </div>

                    <div class="input-global--menssage">
                        <span class="menssage-error"> </span>

                        <span class="menssage-errorInfo"> </span>
                    </div>
                </div>
            </div>

            <div class="body-register--input">
                <div class="input-global">
                    <div class="input-global--contenedor">
                        <input class="body-register--text-input" type="password" name="" id="" placeholder="Contraseña">

                        <div class="menssage--button">
                            <div class="input-icon">
                                <i class="fas fa-user-alt" id="register"></i>
                            </div>

                            <div class="ms-icon">
                                <i class="fas fa-times-circle" id="clean"></i>
                            </div>

                        </div>
                    </div>

                    <div class="input-global--menssage">
                        <span class="menssage-error"> </span>

                        <span class="menssage-errorInfo"> </span>
                    </div>
                </div>
            </div>
            <div class="body-register-cuenta">
                <div>
                    <input id="radiobtn_1" class="checkbox-selector" name="cuenta" type="radio" value="cuenta"
                        tabindex="1">
                    <span></span>
                    <label for="radiobtn_1">Recordar mi cuenta</label>
                </div>

                <div>
                    <i class="fas fa-unlock icono" ></i>
                    <label for="">Olvide Contraseña</label>
                </div>

            </div>

            <div class="body-register--button">

                <div class="link">
                    <p>¡Aún no tienes cuenta? </p>
                    <a href="http:// "> Ir a Registrame</a>
                </div>

                <button class="primary-button active">
                    <div class="primary-button--icon">
                        <div class="default-icon md-icon">
                            <i class="ico register-primary"></i>
                        </div>
                    </div>
                    <div class="primary-button--content">
                        <span>registarse</span>
                    </div>
                </button>


            </div>

        </div>

        <div class="body-text">
            <p class="body-text-title"> Encuentra o sé ese profesional</p>
            <div class="body-text-parrafo">
                <p> Inicia Sesion, cuentanos lo que necesitas y consigue cotizaciones GRATIS y sin compromisos.
                    Si eres profesional ofrece tu servicio y genera nuevos ingresos en nuestra comunidad
                </p>
            </div>
            <img src="../../assets/images/register.png" alt="">
        </div>
    </div>
</div>