<div class="banner-main">
    <div class="banner-main--content">
        <div class="banner-main--content-image">
            <div class="content-image--fillter"></div>
            <img src="../../../assets/images/work-quote.jpg" alt="">
        </div>
        <div class="banner-main--content-quote">
            <div class="content-quote--header">
                <h2 class="content-quote--header-title">¿Buscas profesionales de confianza?</h2>
                <p class="content-quote--header-subtitle">Encuentra "chambas" cerca y deja que te ayuden con ese pendiente</p>
            </div>
            <div class="content-quote--form">
                <div class="content-quote--form-inputs">
                    <input type="tel" name="" id="" placeholder="Ingresar categoría">
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                    </select>
                    <button><span>Cotiza tu chamba</span></button>
                </div>
                <span>Busca y encuentra especialistas en carpintería, construcción, jardineriía y mucho más.</span>
            </div>
        </div>
    </div>
</div>
<most-wanted></most-wanted>
<div class="categories">
    <div class="title-section">
        <h3>Chamba te ofrece profesionales en...</h3>
    </div>
    <div class="categories-list">
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
        <div class="categories-list--item">
            <div class="categories-list--item-content">
                <div class="b-icon">
                    <div class="ico gardening-primary"></div>
                </div>
                <span>Jardinería</span>
            </div>
        </div>
    </div>
</div>