@mixin absolute-element {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

@mixin absolute-pseudoelement {
    @include absolute-element();
    content: '';
}

.banner-main {
    padding: 21px 30px 21px 15px;
    border-bottom: 1px solid var(--color-support-light);

    &--content {
        position: relative;
        z-index: 1;
        border-radius: 21px 7px;
        overflow: hidden;
        box-shadow: 0 0 2px rgba(0, 0, 0, .12),
                    0 2px 2px rgba(0, 0, 0, .24);
                    padding: 21PX 0;

        &-image {
            @include absolute-element();
            z-index: -1;
        }

        &-quote {
            padding: 35px 49px 28px;
            color: white;
            font-family: var(--font-display);
            font-weight: 500;
        }
    }
}

.content {
    &-image {
        &--fillter {
            @include absolute-element();
            background-color: var(--color-secondary-light);
            opacity: .14;   
        }
    }

    &-quote {

        &--header {
            margin-bottom: 14px;
            text-shadow: 0 3px 6px rgba(0, 0, 0, .35);

            &-title {
                font-size: 42px;
                line-height: 1.565em;
                margin: 0;
            }
            &-subtitle {
                font-size: 15px;
            }
        }

        &--form {
            --size-form: 42px;
            
            &-inputs {
                height: var(--size-form);
                border-radius: calc(var(--size-form) / 2);
                max-width: 700px;
                background-color: white;
                overflow: hidden;
                margin-bottom: 7px;
                
                display: flex;
                justify-content: flex-start;
                
                & input,
                & select,
                & button {
                    height: 100%;
                    border: none;
                    font-family: inherit;
                    font-weight: 400;
                }
                
                & input,
                & select {
                    flex-basis: 250px;
                    border: 1px solid var(--color-support-light);
                    padding: 11px 14px;
                    font-size: 16px;
                    transition: .3s background-color ease;
                    font-weight: 500;

                    &:focus,
                    &:hover {
                        background-color: var(--color-support-light);
                    }
                }

                & input {
                    border-top-left-radius: calc(var(--size-form) / 2);
                    border-bottom-left-radius: calc(var(--size-form) / 2);
                }

                & button {
                    background-color: var(--color-primary-dark);
                    color: white;
                    flex-grow: 1;
                    font-weight: 700;
                    font-size: 15px;
                    position: relative;

                    &::before {
                        @include absolute-pseudoelement();
                        transition: .3s background-color ease;
                        opacity: .07;
                    }

                    &:hover {
                        cursor: pointer;

                        &::before {
                            background-color: var(--color-support-light);
                        }
                    }
                }
            }

            &>span {
                font-size: 12px;
                font-family: var(--font-source);
            }
        }
    }
}

.categories {
    &-list {
        padding: 0 30px 0 15px;

        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        &--item {
            --size-category: 185px;
            height: var(--size-category);
            width: var(--size-category);
            border-radius: 14px 63px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
            font-family: var(--font-display);
            color: var(--color-primary-dark);
            margin: 0 14px 14px 0;

            display: flex;
            justify-content: center;
            align-items: center;

            & .b-icon {
                margin: 0 auto;
                margin-bottom: 14px;
            }

            &-content {

                & span {
                    font-family: 18px;
                    font-weight: 700;
                }
            }
        }
    }
}