@import "../../../../assets/scss/variables-scss";

.work-detail {
    // &--container {
    // }
    &--content {
        background-color: white;
        border-radius: 7px 21px;
        border: 1px solid var(--color-border);
        padding-top: 28px;
        padding-bottom: 49px;

        &-header,
        &-body {
            padding-right: 15px;
            padding-left: 15px;
        }

        &-header {
            padding-left: 57px;
            margin-bottom: 18px;
        }

        &-valuation {
            border-top: 1px solid var(--color-border);
            border-bottom: 1px solid var(--color-border);

            display: flex;
            align-items: center;
            flex-direction: column;

            padding: 21px 0;
            text-align: center;
            margin-bottom: 28px;

            & span {
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }

        &-comments {
            padding-left: 129px;
        }
    }

    &--header {
        &-tags {
            margin-bottom: 21px;

            & .primary-tag {
                &:not(:last-child) {
                    margin-right: 7px;
                }
            }
        }

        &-title {
            margin-bottom: 7px;

            & h2 {
                font-family: var(--font-source);
                margin: 0;
            }
        }

        &-user {
            display: flex;
            align-items: center;
        }
    }

    &--user {
        &-photo {
            --size-photo: 30px;
            --size-border: 2px;
            margin-right: 7px;
        }

        &-name {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 11px;

            &::before {
                content: "Por ";
                font-weight: 400;
            }
        }

        &-date {
            margin-left: 10px;
        }
    }

    &--images {
        display: flex;
        align-items: stretch;
        margin-bottom: 28px;

        &-big {
            flex-grow: 1;
            margin-right: 30px;
            height: 409px;

            & figure {
                height: 100%;
                background-color: var(--color-support-light);
                border-radius: 7px 21px;

                & img {
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        &-group {
            --size-figure: 127px;
            flex: 0 0 var(--size-figure);

            & figure {
                height: var(--size-figure);
                border-radius: 7px 21px;
                overflow: hidden;
                position: relative;
                box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
                transition: 0.2s box-shadow ease-in-out;

                &:not(:last-child) {
                    margin-bottom: 14px;
                }

                & img {
                    height: 100%;
                    object-fit: cover;
                }

                &::before,
                & .filter-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 1;

                    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.77));
                    transition: 0.2s opacity ease-in-out;
                }

                &::before {
                    content: "";
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba($color-primary, 1));
                    opacity: 0;
                }

                &:hover {
                    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.63);

                    & .filter-image {
                        opacity: 0;
                        cursor: pointer;
                    }

                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &--description {
        display: flex;
        align-items: flex-start;

        padding-left: 42px;
        padding-right: 42px;
        margin-bottom: 28px;

        &-valuation {
            text-align: center;
            color: var(--color-support-dark);
            margin-bottom: 15px;

            & > * {
                margin-right: auto;
                margin-left: auto;
            }

            & .valuation-value {
                --size: 20px;
                height: var(--size);
                width: var(--size);

                display: flex;
                justify-content: center;
                align-items: center;
            }

            & span {
                font-size: 10px;
                font-weight: 500;
                color: var(--color-font-high-emphasis);
            }
        }

        &-share {
            text-align: center;

            & .button-icon {
                --size-button: 30px;
                display: block;
                margin-right: auto;
                margin-left: auto;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }

            & > span {
                font-size: 10px;
                font-weight: 600;
            }
        }

        &-valuation,
        &-share {
            position: relative;
            padding-bottom: 13px;

            & > span {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
            }
        }

        &-content {
            padding: 0 15px 14px;
        }
    }

    &--valuation-share {
        padding-right: 42px;
        top: 70px;
    }
}

.content-comments {
    &--header {
        padding-bottom: 14px;
        border-bottom: 1px solid var(--color-border);
        position: relative;

        & span {
            font-size: 12px;
            font-weight: 700;
        }

        &::before {
            content: "";
            width: 56px;
            height: 2px;
            background-color: var(--color-primary);

            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

quote-component {
    display: block;
    top: 70px;
}

@media screen and (max-width: 993px) {
    .work-detail {
        &--content {
            margin-bottom: 15px;

            &-comments {
                padding-left: 15px;
            }
        }
    }
}

@media screen and (max-width: 681px) {
    .work-detail {
        &--images {
            flex-wrap: wrap;

            &-big {
                margin-right: 0;
                margin-bottom: 14px;
            }

            &-group {
                display: flex;
                justify-content: center;

                padding: 0 15px;
                flex: 0 0 100%;

                & figure {
                    margin-bottom: 0;

                    flex: 0 0 var(--size-figure);

                    &:not(:last-child) {
                        margin-right: 14px;
                    }
                }
            }
        }

        &--description {
            padding: 0;
            flex-wrap: wrap;

            &-content {
                flex: 0 0 100%;
            }

            &-valuation,
            &-share {
                & > span {
                    position: relative;
                    left: initial;
                    bottom: initial;
                    transform: initial;
                }
            }

            &-valuation {
                margin-right: 5px;
                padding-bottom: 0;
                margin-bottom: 0;

                display: flex;
                flex-direction: column;
            }

            &-share {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                padding-bottom: 0;

                & .button-icon {
                    margin: initial;
                    margin-right: 5px;
                }

                & > span {
                    flex: 0 0 100%;
                    margin-top: 15px;
                }
            }
        }

        &--valuation {
            &-share {
                order: 1;
                position: relative;
                top: initial;
                padding-right: 0;

                display: flex;
                margin: 0 auto;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 471px) {
    .work-detail {
        &--images {
            &-group {
                & figure {
                    flex: 0 0 calc(((100vw - 60px) - 28px) / 3);
                    height: calc(((100vw - 60px) - 28px) / 3);
                }
            }
        }
    }
}
