.quote {

  &-wrapper {

    &--tag {
      --size-tag: 21px;
      font-size: 14px;
      color: white;
      height: var(--size-tag);
      background-color: var(--color-primary-dark);
      border-radius: 3px 7px;
      padding: 0 7px;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 14px;
    }
  }
}
