<div class="quote-wrapper">
  <div class="quote-wrapper--tag">
    <span>No esperes más y solicita tu cotizacion</span>
  </div>
  <form class="quote-wrapper--form form-main">
    <div class="form-main--header">
      <div class="form-main--header-top">
        <div class="header-top--icon">
          <div class="md-icon">
            <i class="ico avion-alternate"></i>
          </div>
        </div>
        <div class="header-top--logo">
          <logo-component></logo-component>
        </div>

      </div>
      <div class="form-main--header-bottom">
        <span class="header-bottom--subtitle">Recibe ayuda de los "chambas"</span>
        <div class="header-bottom--title">Solicitar cotización</div>
      </div>
    </div>
    <div class="form-main--body">
      <div class="input">
        <div class="input-container">
          <input type="text" id="emailUser" required formControlName="emailUser">
          <div class="input-container--box"></div>
          <label> ¿Qué chamba necesitas?</label>
          <div class="input-container--icons">
            <div class="default-icon input-container--icons-indicator">
              <i class="fas fa-user-circle"></i>
            </div>
          </div>
        </div>
        <div class="input-validation">
          <!-- <div class="input-validation--tag">
          <span>Requerido</span>
        </div>
        <div class="input-validation--message">
          <span>Este campo debe completarse</span>
        </div> -->
        </div>
      </div>

      <div class="input">
        <div class="input-container">
          <input type="text" id="emailUser" required formControlName="emailUser">
          <div class="input-container--box"></div>
          <label>Ubicación</label>
          <div class="input-container--icons">
            <div class="default-icon input-container--icons-indicator">
              <i class="fas fa-location"></i>
            </div>
          </div>
        </div>
        <div class="input-validation">
          <!-- <div class="input-validation--tag">
          <span>Requerido</span>
        </div>
        <div class="input-validation--message">
          <span>Este campo debe completarse</span>
        </div> -->
        </div>
      </div>

      <div class="textarea">
        <div class="textarea-container">
          <textarea type="text" required name="textCoti" id="textCoti"></textarea>
          <div class="textarea-container--box"></div>
          <label> Describe de manera breve </label>
          <div class="textarea-container--icons">
            <div class="default-icon input-container--icons-indicator">
              <i class="fas fa-edit"></i>
            </div>
          </div>
        </div>
        <div class="input-validation">
          <!-- <div class="input-validation--tag">
          <span>Requerido</span>
        </div>
        <div class="input-validation--message">
          <span>Este campo debe completarse</span>
        </div> -->
        </div>
      </div>

      <div class="toggle">
        <label for="toggleInput">
          <div class="toggle-container">
            <input type="checkbox" name="toggleInput" id="toggleInput">
            <div class="toggle-container--trail"></div>
            <div class="toggle-container--dot"></div>
          </div>
          <div class="toggle-text">
            <span>Solicitar con urgencia</span>
          </div>
        </label>
        <div class="input-validation"></div>
      </div>

      <button class="primary-button active" routerLink="">
        <div class="primary-button--icon">
          <div class="md-icon">
            <i class="ico register-primary"></i>
          </div>
        </div>
        <div class="primary-button--content">
          <span> Completar Registro</span>
        </div>
      </button>
    </div>

    <div class="form-main--graphic">
      <graphic-launch></graphic-launch>
    </div>
  </form>
</div>
