.cta-login {
    height: 100%;
    width: 100%;

    &--wrapper {
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;

        display: flex;
        pointer-events: all;

        perspective: 1000px;
    }

    &--modal {
        background-color: var(--color-primary-light);
        min-width: 259px;
        margin: auto;
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
        border-radius: 21px 7px;
        position: relative;

        // transform: rotateX(0deg);
        transform-origin: bottom;

        &-close {
            & svg {
                margin: auto;
            }
        }

        &-body {
            text-align: center;
            padding: 21px 21px 14px;
        }

        &-footer {
            padding: 10px 14px;

            display: flex;

            & button {
                min-width: 114px;

                &:first-child {
                    margin-right: 7px;
                }
            }
        }
    }
}

.modal {
    &-body {
        &--figure {
            width: 142px;
            padding: 7px 14px;
            margin: 0 auto 7px;
        }

        &--description {
            color: white;

            p {
                margin: 0;
            }
        }
    }
}
