<div class="header-user">
    <div class="header-user--higher">
        <div class="header-user--higher-background">
            <div class="higher-background--filter"></div>
            <div class="higher-background--image">
                <img src="../../../assets/images/wrappers/login.jpg" alt="header-user">
            </div>
        </div>

        <div class="header-user--higher-identity">
            <div class="higher-identity--photo user-photo">
                <img src="../../../assets/images/user.jpg" alt="user">
            </div>
            <div class="higher-identity--data">
                <div class="higher-identity--data-name">
                    <span>Allan Ellis</span>
                </div>
                <div class="higher-identity--data-description">
                    <span>Jardinería en Trujillo</span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-user--lower">
        <div class="header-user--lower-nav">
            <div class="lower-nav--item active" routerLink="/worker/0/home">
                <span>Perfil</span>
            </div>
            <div class="lower-nav--item" routerLink="/worker/0/work-done">
                <span>Trabajos</span>
            </div>
            <div class="lower-nav--item" routerLink="/worker/0/quotes">
                <span>Cotizaciones</span>
            </div>
            <div class="lower-nav--item" routerLink="/worker/0/worker-settings/general-data">
                <span>Configurar Perfil</span>
            </div>
        </div>
    </div>
</div>
