<nav-main></nav-main>

<div class="main-content">
    <div class="banner-main">
        <div class="banner-main--content">
          <div class="banner-main--content-image">
            <div class="content-image--fillter"></div>
            <img src="../../../assets/images/gardering.jpg" alt="">
          </div>
          <div class="banner-main--content-quote">
            <div class="content-quote--header">
              <h2 class="content-quote--header-title">Jardinería</h2>
              <p class="content-quote--header-subtitle">Encuentra "chambas" que esten pendientes de ti.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>

<app-footer></app-footer>
