.main {
    display: flex;
    overflow: hidden;

    &-nav {
        flex: 0 0 126px;
    }

    &-content {
        flex-grow: 1;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        overflow: hidden;
        background-color: white;
        max-height: 100vh;
        overflow-y: auto;
        margin-right: -17px;
    }
}

