<div class="main-content">
    <header class="header-profile">

        <div class="header-profile--background">
            <img src="../../../../assets/images/gardering.jpg" alt="">
        </div>

        <div class="header-profile--content">

            <figure class="header-profile--content-img">
                <img src="../../../assets/images/user1.jpg" alt="">
            </figure>

            <div class="header-profile--content-text">
                <div class="content-text--title">
                    <span>Alan Ellis</span>
                </div>
                <div class="content-text--subtitle">
                    <span>Jardineria en Trujillo</span>
                </div>
            </div>

        </div>

        <div class="header-profile--link">
            <li class=" item active"><a class="select" href=""> Inicio</a> </li>
            <li> <a class="select">Trabajos</a> </li>
            <li> <a class="select">Mi perfil</a></li>
            <li><a class="select">Cotizaciones</a> </li>
        </div>

    </header>

    <div class="grid-container">
        <div class="grid-3">
            <div class="information">
                <div class="information-title height">
                    <a> Informacion </a>
                </div>

                <hr>

                <div class="information-content">
                    <div class="information-content-text  height ">
                        <div class="md-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>

                        <div class="content-text">
                            <span class="content-text--title"> De </span>
                            <h2 class="content-text--subtitle"> Trujillo, La Libertad</h2>
                        </div>
                    </div>

                    <div class="information-content-text  height ">
                        <div class="md-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>

                        <div class="content-text">
                            <span class="content-text--title"> Normalmente realiza trabajos en </span>
                            <h2 class="content-text--subtitle"> Trujillo, La Libertad</h2>
                        </div>
                    </div>

                    <div class="information-content-text  height ">
                        <div class="md-icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>

                        <div class="content-text">
                            <span class="content-text--title"> Registrado desde </span>
                            <h2 class="content-text--subtitle"> Enero del 2019</h2>
                        </div>
                    </div>

                    <div class="information-content-text  height ">
                        <div class="md-icon">
                            <i class="far fa-thumbs-up"></i>
                        </div>

                        <div class="content-text">
                            <span class="content-text--title"> Valoraciones positivas </span>
                            <h2 class="content-text--subtitle"> 4.9 en promedio</h2>
                        </div>
                    </div>

                    <div class="information-content-text  height ">
                        <div class="md-icon">
                            <i class="ico bag-work"></i>
                        </div>

                        <div class="content-text">
                            <span class="content-text--title"> Trabajos realizados </span>
                            <h2 class="content-text--subtitle"> 13 </h2>
                        </div>
                    </div>

                    <div class="information-content-text  height ">
                        <div class="md-icon">
                            <i class="ico quote"></i>
                        </div>

                        <div class="content-text">
                            <span class="content-text--title"> Cotizaciones realizadas </span>
                            <h2 class="content-text--subtitle"> 50 </h2>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="grid-5">
            <div class="information">
                <div class="information-about">
                    <a class="about-text"> Sobre 
                    <span class="about-important"> Alan Ellis </span>
                     - Jardineria en Trujillo </a>
                </div>
                <hr>

                <div class="information-work">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae iure totam deserunt eos, fugiat
                        veritatis commodi mollitia qui autem nobis, velit eveniet, saepe expedita reprehenderit quos
                        dolor facilis similique incidunt.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat modi deserunt sed sapiente at eius hic vitae dolorum distinctio laboriosam, repudiandae, velit illo esse quidem quia asperiores. Consequatur, pariatur fugiat!</p>
                </div>
            </div>

            <div class="information">
                <div class="information-title">
                    <span> Ultimos trabajos realizados</span>
                </div>
                <hr>

                <div class="information-card">
                    <div class="information-card--cards ">
                        <div class="cards-top">
                            <div class="cards-top-title">
                                <span class="title">Alan Ellis</span>
                                <a class="subtitle">- Jardineria en Trujillo </a>
                            </div>
    
                            <div class="cards-top-date">
                                <div class="icon-valuation espacio">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="day"> 26 enero 2020</div>
                            </div>
                        </div>
    
                        <div class="cards-middle">
                            <div class="middle-title">
                                <span> Instalacion de Flores</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa sit repudiandae earum
                                voluptatum adipisci nam sint illum eveniet harum perspiciatis eligendi delectus quae iure
                                praesentium odit perferendis, quod cupiditate nisi.</p>
                            <div class="middle-figure">
                                <figure class="middle-figure--list">
                                    <img src="../../../assets/images/gardering.jpg" alt="">
                                </figure>
                                <figure class="middle-figure--list"> 
                                    <img src="../../../assets/images/carpenter.jpg" alt="">
                                </figure>
                                <figure class="middle-figure--list" >
                                    <img src="../../../assets/images/welder.jpg" alt="">
                                </figure>
                            </div>
                        </div>
    
                        <div class="cards-bottom">
                            <div class="md-icon">
                                <i class="far fa-comment-dots"></i>
                            </div>
                            <a> 2 comentarios </a>
                        </div>
                    </div>
                    <figure class="information-card--img" >
                        <img src="../../../assets/images/user1.jpg" alt="">
                    </figure>
                </div>

                <div class="information-card">
                    <div class="information-card--cards ">
                        <div class="cards-top">
                            <div class="cards-top-title">
                                <span class="title">Alan Ellis</span>
                                <a class="subtitle">- Jardineria en Trujillo </a>
                            </div>
    
                            <div class="cards-top-date">
                                <div class="icon-valuation espacio">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="day"> 26 enero 2020</div>
                            </div>
                        </div>
    
                        <div class="cards-middle">
                            <div class="middle-title">
                                <span> Instalacion de Flores</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa sit repudiandae earum
                                voluptatum adipisci nam sint illum eveniet harum perspiciatis eligendi delectus quae iure
                                praesentium odit perferendis, quod cupiditate nisi.</p>
                            <div class="figure">
                                <figure>
    
                                </figure>
                                <figure>
    
                                </figure>
                            </div>
                        </div>
    
                        <div class="cards-bottom">
                            <div class="md-icon">
                                <i class="far fa-comment-dots"></i>
                            </div>
                            <a> 2 comentarios </a>
                        </div>
                    </div>
                    <figure class="information-card--img" >
                        <img src="../../../assets/images/user1.jpg" alt="">
                    </figure>
                </div>



                <div class="information-card">
                    <div class="information-card--cards ">
                        <div class="cards-top">
                            <div class="cards-top-title">
                                <span class="title">Alan Ellis</span>
                                <a class="subtitle">- Jardineria en Trujillo </a>
                            </div>
    
                            <div class="cards-top-date">
                                <div class="icon-valuation espacio">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="day"> 26 enero 2020</div>
                            </div>
                        </div>
    
                        <div class="cards-middle">
                            <div class="middle-title">
                                <span> Instalacion de Flores</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa sit repudiandae earum
                                voluptatum adipisci nam sint illum eveniet harum perspiciatis eligendi delectus quae iure
                                praesentium odit perferendis, quod cupiditate nisi.</p>
                            <div class="figure">
                                <figure>
    
                                </figure>
                                <figure>
    
                                </figure>
                            </div>
                        </div>
    
                        <div class="cards-bottom">
                            <div class="md-icon">
                                <i class="far fa-comment-dots"></i>
                            </div>
                            <a> 2 comentarios </a>
                        </div>
                    </div>
                    <figure class="information-card--img" >
                        <img src="../../../assets/images/user1.jpg" alt="">
                    </figure>
                </div>
               
            </div>
        </div>

        <div class="grid-4">
            <quote-component></quote-component>
        </div>
    </div>
    <action-professional></action-professional>
</div>


<!--  accion del menu superior verificar 
<script>
    $(document).ready(function () {
        $(".header-profile--link .item ").on("click", function () {
            $(".header-profile--link .item ").removeClass("active");
            $(this).addClass("active");
        })
    });
</script> -->