.notification {
    &-more {
        --color: var(--color-support-dark);
        position: relative;
    }

    &-dropdown {
        position: absolute;
        top: 70%;
        right: 0;
        opacity: 0;

        min-width: 375px;
        max-width: 375px;
        max-height: 70vh;
        overflow: auto;

        background-color: white;
        border: 1px solid var(--color-border);
        border-radius: 3px 9px;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0px rgba(0, 0, 0, 0.14),
            0 1px 10px 0px rgba(0, 0, 0, 0.12);

        transition: 0.2s top ease-in-out, 0.2s opacity ease-in-out;

        &.init {
            top: 100%;
            opacity: 1;
        }

        &--header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 7px 14px;
            border-bottom: 1px solid var(--color-border);
            font-family: var(--font-source);

            & h4 {
                margin: 0;
                font-family: inherit;
                font-size: 12px;
                font-weight: 700;
                color: var(--color-secondary);
            }
        }

        &--footer {
            --size: 35px;
            height: var(--size);
            background-color: var(--color-primary);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            font-size: 12px;
            font-weight: 500;
            color: white;

            position: sticky;
            bottom: 0;

            transition: 0.3s background-color ease-in-out;

            &:hover {
                background-color: var(--color-primary-dark);
                cursor: pointer;
            }
        }

        &--title {
            padding: 5px 14px;
            border-bottom: 1px solid var(--color-border);
            font-family: var(--font-source);

            & h5 {
                font-size: 11px;
                color: var(--color-support-dark);
                margin: 0;
                font-family: inherit;
            }
        }

        &--list {
            padding: 7px;

            &:not(:last-of-type) {
                border-bottom: 1px solid var(--color-border);
            }

            &-item {
                display: flex;
                align-items: center;
                position: relative;

                padding: 10px 7px;
                // background-color: white;

                transition: 0.2s background-color ease-in-out;

                &:hover {
                    background-color: var(--color-support-light);

                    & .notification-dropdown {
                        &--item {
                            &-more {
                                opacity: 1;
                            }
                        }
                    }
                }

                & .user-photo {
                    --size-photo: 42px;
                    --size-border: 2px;
                    flex: 0 0 var(--size-photo);
                    margin-right: 14px;
                }
            }
        }

        &--item {
            &-content {
                margin-right: 14px;

                & .date-element {
                    color: var(--color-support-dark);
                    font-weight: 700;
                }
            }

            &-resumen {
                font-size: 12px;
                display: inline-block;

                & .user-name {
                    font-weight: 700;
                }
            }

            &-title {
                font-size: 15px;
                font-weight: 700;
                display: inline-block;
                margin-bottom: 5px;
            }

            &-more {
                opacity: 0;

                transition: 0.3s opacity ease-in-out;
            }
        }
    }

    &-new {
        & .notification-dropdown {
            &--item {
                &-detail {
                    width: 3px;
                    height: 56px;
                    background-color: var(--color-primary-dark);
                    border-radius: 0 3px 3px 0;

                    position: absolute;
                    left: 0;
                }
            }
        }

        & .date-element {
            color: var(--color-primary-dark);
        }
    }
}
