<div class="top-categories">
    <div class="grid-container">
        <div class="top-categories--text">
            <span>Más buscados</span>
        </div>
        <div class="top-categories--tags">
            <div class="primary-tag active">
                <span>Todos</span>
            </div>
            <ng-container *ngFor="let item of [1, 2, 3]">
                <div class="primary-tag">
                    <span>Albañiles</span>
                </div>
                <div class="primary-tag">
                    <span>Jardinería</span>
                </div>
                <div class="primary-tag">
                    <span>Currier</span>
                </div>
            </ng-container>
        </div>
        <!-- <div class="grid-row">
        </div> -->
    </div>
</div>
