.worker-home {
    &--main {
        & .rail-section {
            &:not(:last-child) {
                margin-bottom: 28px;
            }

            &--header {
                font-size: 15px;
                color: var(--color-font-high-emphasis);
            }
        }
    }

    &--user {
        &-presentation {
            & .rail-section--body {
                font-size: 13px;
            }
        }
    }
}
