.worker-post {
    margin-bottom: 14px;

    &--wrapper {
        max-width: 450px;
        border-radius: 7px 21px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        padding: 14px 14px 14px 24px;
        margin-left: 20px;
    }

    &--header,
    &--footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &--header {
        margin-bottom: 3px;
    }

    &--user {
        &-photo {
            --size-photo: 40px;
            --size-border: 2px;
            box-shadow: 0 3px 6px rgb(103, 20, 143, 0.16);
            margin-right: 7px;
            margin-left: -44px;
        }

        &-data,
        &-date {
            display: flex;
            align-items: baseline;
        }

        &-date {
            margin-left: auto;
            font-size: 11px;
            font-weight: 500;

            & .input-icon,
            & span {
                color: var(--color-support-dark);
            }

            & .input-icon {
                margin-right: 3px;
            }
        }
    }

    &--body {
    }

    &--title {
        & .heading-lvl-6 {
            margin-top: 0;
            margin-bottom: 7px;
            font-family: var(--font-source);
        }
    }

    &--description {
        font-size: 13px;
        margin-bottom: 35px;
    }

    &--images {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-bottom: 14px;
    }

    &--image {
        &-single {
            --size-image: 70px;
            height: var(--size-image);
            width: var(--size-image);
            border-radius: 3px 9px;
            overflow: hidden;

            &:not(:last-child) {
                margin-right: 10px;
            }

            & img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &--commentary {
        display: flex;
        align-items: center;

        margin-left: auto;
        font-size: 11px;
        font-weight: 500;
        color: var(--color-support-dark);

        & .input-icon {
            margin-right: 3px;
        }
    }
}

.user {
    &-data {
        &--name {
            font-size: 12px;
            font-weight: 700;
            color: var(--color-primary-dark);
        }

        &--category {
            font-size: 11px;
            font-weight: 500;
            color: var(--color-support-dark);
            margin-left: 4px;

            &::before {
                content: "- ";
            }
        }
    }
}
