<div class="worker-post">
    <div class="worker-post--wrapper">
        <div class="worker-post--header">
            <div class="worker-post--user-photo user-photo">
                <img src="../../../assets/images/user.jpg" alt="worker">
            </div>
            <div class="worker-post--user-data">
                <div class="user-data--name">
                    <span>Alan Ellis</span>
                </div>
                <div class="user-data--category">
                    <span>Jardinería de Trujillo</span>
                </div>
            </div>
            <div class="worker-post--user-date date-element">
                <div class="input-icon">
                    <svg class="icon">
                        <use xlink:href="/assets/images/icons.svg#icon-date"></use>
                    </svg>
                </div>
                <span>26 de enero 2020</span>
            </div>
        </div>
        <div class="worker-post--body">
            <div class="worker-post--title">
                <h3 class="heading-lvl-6" routerLink="/worker/0/work-detail/1">Instalación de floreros</h3>
            </div>
            <div class=" worker-post--description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis doloremque laboriosam illum
                    rem...</p>
            </div>
            <div class="worker-post--images">
                <figure class="worker-post--image-single">
                    <img src="../../../assets/images/users/workers/post/image-1.jpg" alt="image-1">
                </figure>
                <figure class="worker-post--image-single">
                    <img src="../../../assets/images/users/workers/post/image-2.jpg" alt="image-2">
                </figure>
                <figure class="worker-post--image-single">
                    <img src="../../../assets/images/users/workers/post/image-3.jpg" alt="image-3">
                </figure>
            </div>
        </div>
        <div class="worker-post--footer">
            <div class="worker-post--commentary">
                <div class="input-icon">
                    <svg class="icon">
                        <use xlink:href="/assets/images/icons.svg#icon-comment"></use>
                    </svg>
                </div>
                <span>2 comentarios</span>
            </div>
        </div>
    </div>
</div>
