<div class="main-wrapper">
    <div class="main-wrapper--background">
        <div class="main-wrapper--background-filter"></div>
        <img src="assets/images/wrappers/login.jpg" alt="Inicia Sesión">
    </div>

    <div class="main-wrapper--container grid-container grid-10">
        <div class="grid-5">
            <form class="main-wrapper--container-form" [formGroup]="formRegister" (ngSubmit)="registrar(formRegister)">
                <div class="container-form--scrollable">
                    <div class="container-form--logo">
                        <logo-component></logo-component>
                    </div>
                    <div class="container-form--header">
                        <span>Registrarse</span>
                    </div>
                    <div class="container-form--body">

                        <div class="input">
                            <div class="input-container">
                                <input type="text" id="userNames" formControlName="nombres" required>
                                <div class="input-container--box"></div>
                                <label for="userNames">Nombres</label>
                                <div class="input-container--icons">
                                    <div class="default-icon input-container--icons-indicator">
                                        <i class="fas fa-user-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-validation">
                                <!-- <div class="input-validation--tag">
                                        <span>Requerido</span>
                                    </div>
                                    <div class="input-validation--message">
                                        <span>Este campo debe completarse</span>
                                    </div> -->
                            </div>
                        </div>

                        <div class="input">
                            <div class="input-container">
                                <input type="text" id="userSurnames" formControlName="apellidos" required>
                                <div class="input-container--box"></div>
                                <label for="userSurnames">Apellidos</label>
                                <div class="input-container--icons">
                                    <div class="default-icon input-container--icons-indicator">
                                        <i class="fas fa-user-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-validation">
                                <!-- <div class="input-validation--tag">
                                        <span>Requerido</span>
                                    </div>
                                    <div class="input-validation--message">
                                        <span>Este campo debe completarse</span>
                                    </div> -->
                            </div>
                        </div>

                        <div class="input">
                            <div class="input-container">
                                <input type="date" id="dataBirth" class="active" formControlName="f_nacimiento" required>
                                <div class="input-container--box"></div>
                                <label for="dataBirth">Fecha de nacimientos</label>
                                <div class="input-container--icons">
                                    <div class="default-icon input-container--icons-indicator">
                                        <i class="far fa-calendar-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-validation">
                                <!-- <div class="input-validation--tag">
                                        <span>Requerido</span>
                                    </div>
                                    <div class="input-validation--message">
                                        <span>Este campo debe completarse</span>
                                    </div> -->
                            </div>
                        </div>

                        <div class="group-radio">
                            <span class="group-radio--label">Sexo</span>
                            <div class="group-radio--container">
                                <label class="radio">
                                    <div class="radio-circles">
                                        <input type="radio" name="userGender" value="M" formControlName="userGender">
                                        <div class="radio-circles--outer"></div>
                                        <div class="radio-circles--inner"></div>
                                    </div>
                                    <div class="radio-content">
                                        <span>Masculino</span>
                                    </div>
                                </label>
                                <label class="radio">
                                    <div class="radio-circles">
                                        <input type="radio" name="userGender" value="F" formControlName="userGender">
                                        <div class="radio-circles--outer"></div>
                                        <div class="radio-circles--inner"></div>
                                    </div>
                                    <div class="radio-content">
                                        <span>Femenino</span>
                                    </div>
                                </label>
                                <label class="radio">
                                    <div class="radio-circles">
                                        <input type="radio" name="userGender" value="P" formControlName="userGender">
                                        <div class="radio-circles--outer"></div>
                                        <div class="radio-circles--inner"></div>
                                    </div>
                                    <div class="radio-content">
                                        <span>Sin especificar</span>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="input">
                            <div class="input-container">
                                <input type="email" id="userEmail" formControlName="correo" required>
                                <div class="input-container--box"></div>
                                <label for="userEmail">E-mail</label>
                                <div class="input-container--icons">
                                    <div class="default-icon input-container--icons-indicator">
                                        <i class="fas fa-at"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-validation">
                                <!-- <div class="input-validation--tag">
                                        <span>Requerido</span>
                                    </div>
                                    <div class="input-validation--message">
                                        <span>Este campo debe completarse</span>
                                    </div> -->
                            </div>
                        </div>

                        <div class="input">
                            <div class="input-container">
                                <input type="password" id="userPassword" formControlName="password" required>
                                <div class="input-container--box"></div>
                                <label for="userPassword">Contraseña</label>
                                <div class="input-container--icons">
                                    <div class="default-icon input-container--icons-indicator">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-validation">
                                <!-- <div class="input-validation--tag">
                                        <span>Requerido</span>
                                    </div>
                                    <div class="input-validation--message">
                                        <span>Este campo debe completarse</span>
                                    </div> -->
                            </div>
                        </div>

                        <div class="container-form--body-links">
                            <div class="checkbox">
                                <div class="checkbox-container">
                                    <input type="checkbox" name="" id="recordar-contraseña">
                                    <label for="recordar-contraseña">Al crear su Cuenta acepta haber leído y estar de
                                        acuerdo con nuestras Políticas de Privacidad y Términos de Uso.</label>
                                </div>
                            </div>
                        </div>

                        <div class="container-form--body-buttons">
                            <div class="go-register" routerLink="/login">
                                <span>¿Ya tienes cuenta?</span>
                                <span>Iniciar Sesión</span>
                            </div>
                            <button class="primary-button active">
                                <div class="primary-button--icon">
                                    <div class="md-icon">
                                        <i class="ico register-primary"></i>
                                    </div>
                                </div>
                                <div class="primary-button--content">
                                    <span>Registrarme</span>
                                </div>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="grid-7">
            <div class="main-wrapper--container-welcome">
                <div class="container-welcome--header">
                    <h2>Encuentra al "chamba" que necesitas</h2>
                    <p>Inicia sesión, cuéntanos lo que necesitas y consigue coticaciones GRATIS y sin compromisos. Tu
                        decides.</p>
                </div>
                <div class="container-welcome--image grid-9">
                    <graphic-login></graphic-login>
                </div>
            </div>
        </div>
    </div>
</div>