<header class="header-page">
    <div class="header-page--background">
        <img src="../../../../assets/images/categories/{{ image }}.jpg" alt="">
    </div>

    <div class="header-page--content">
        <button class="header-page--content-button" (click)="goBack()">
            <div class="md-icon">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" width="21px" height="10.2px" viewBox="0 0 21 10.2" xml:space="preserve">
                    <defs>
                    </defs>
                    <path
                        d="M14.3,5.9H4.5c-0.5,0-0.8-0.4-0.8-0.8v0c0-0.5,0.4-0.8,0.8-0.8h9.8c0.5,0,0.8,0.4,0.8,0.8v0C15.2,5.5,14.8,5.9,14.3,5.9z" />
                    <path
                        d="M20.2,4.3h-2.6c-0.5,0-0.8,0.4-0.8,0.8c0,0.5,0.4,0.8,0.8,0.8h2.6c0.5,0,0.8-0.4,0.8-0.8C21,4.6,20.6,4.3,20.2,4.3z" />
                    <path d="M2.8,5.9L2.8,5.9L2.6,5.7c0,0,0,0,0,0c-0.3-0.3-0.3-0.8,0-1.2c0,0,0,0,0,0l0.2-0.2h0l2.9-2.9C6,1.1,6,0.6,5.7,0.2
	c-0.3-0.3-0.8-0.3-1.2,0L0.2,4.5c0,0,0,0,0,0c-0.3,0.3-0.3,0.8,0,1.2c0,0,0,0,0,0l4.3,4.3c0.3,0.3,0.8,0.3,1.2,0
	C6,9.6,6,9.1,5.7,8.8L2.8,5.9z" />
                </svg>
            </div>
        </button>

        <div class="header-page--content-text">
            <div class="content-text--title">
                <h1 class="heading-lvl-1">{{ title }}</h1>
            </div>
            <span class="content-text--subtitle">Encuentra "chambas" para ese pendiente cerca de ti.</span>
        </div>

        <div class="header-page--content-breadcrumb">
            <span>Inicio</span>
            <span>Categorías</span>
            <span class="active">{{ title }}</span>
        </div>
    </div>
</header>
