<div class="nav-main">
    <div class="nav-main--logo">
        <logo-component></logo-component>
    </div>
    <div class="nav-main--list">
        <a class="nav-main--list-item">
            <div class="default-icon sm-icon">
                <i class="ico home-alternate"></i>
            </div>
            <span>Inicio</span>
        </a>
        <div class="nav-main--list-item">
            <div class="default-icon sm-icon">
                <i class="ico home-alternate"></i>
            </div>
            <span>Inicio</span>
        </div>
        <div class="nav-main--list-item">
            <div class="default-icon sm-icon">
                <i class="ico home-alternate"></i>
            </div>
            <span>Inicio</span>
        </div>
        <div class="nav-main--list-item">
            <div class="default-icon sm-icon">
                <i class="ico home-alternate"></i>
            </div>
            <span>Inicio</span>
        </div>
    </div>
</div>
