@mixin create-pseudoelement {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.nav-main {
  background-color: var(--color-primary-dark);
  min-height: 100vh;
  font-family: var(--font-display);

  &--logo {
    height: 63px;
    padding: 0 15px 0 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: #ffffff;
      width: 100%;
    }
  }

  &--list {
    position: relative;
    z-index: 1;
    perspective-origin: top left;
    perspective: 1000px;

    &-item {
      --size-list-item: 126px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      min-height: 126px;
      position: relative;
      border-bottom-left-radius: calc(var(--size-list-item) / 2);
      transition: transform .3s ease, box-shadow .3s ease-in-out;
      overflow: hidden;

      flex-direction: column;

      & .default-icon {
        margin-bottom: 3px;
      }

      &:not(:first-child) {
        height: calc((var(--size-list-item) / 2) + var(--size-list-item));
        background-color: red;
        margin-top: calc((var(--size-list-item) / 2) - var(--size-list-item));
        padding-top: calc(var(--size-list-item) / 2);
      }

      &:first-child {
        background-color: var(--color-primary-dark);
      }

      &:nth-child(2) {
        background-color: var(--color-primary);
      }

      &:nth-child(3) {
        background-color: rgba(190, 127, 219, 1);
      }

      &:nth-child(4) {
        background-color: var(--color-primary-light);
      }

      &::before {
        @include create-pseudoelement;

        transition: background-color .3s ease;
    }
    
    &:hover {
        transform-origin: top left;
        transform: skewY(3deg);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .21);
        cursor: pointer;
        
        &::before {
            background-color: rgba(255, 255, 255, .16);
        }
      }
    }
  }
}

@for $j from 1 through 5 {
  .nav-main {
    &--list {
      &-item:nth-child(#{$j}) {
        z-index: -#{$j};
      }
    }
  }
}
