<nav class="nav-main">
    <div class="nav-main--logo" routerLink="">
        <logo-component></logo-component>
    </div>
    <div class="nav-main--list">
        <a class="nav-main--list-item" routerLink="">
            <div class="default-icon sm-icon">
                <i class="ico home-alternate"></i>
            </div>
            <span>Inicio</span>
        </a>
        <a class="nav-main--list-item" routerLink="/categories">
            <div class="default-icon sm-icon">
                <i class="ico home-alternate"></i>
            </div>
            <span>Categorias</span>
        </a>
        <a class="nav-main--list-item">
            <div class="default-icon sm-icon">
                <i class="ico home-alternate"></i>
            </div>
            <span>Inicio</span>
        </a>
        <a class="nav-main--list-item">
            <div class="default-icon sm-icon">
                <i class="ico home-alternate"></i>
            </div>
            <span>Inicio</span>
        </a>
    </div>
</nav>
