/**
 * 
 * SE REUTILIZA CSS CODIGO 
 */
@mixin absolute-element {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@mixin absolute-pseudoelement {
  content: "";
  @include absolute-element();
}

.main-content {
  background-color: rgba(237, 242, 246);
}

.header-category {
  padding: 21px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: var(--shadow-primary);
  border-bottom-left-radius: 70px;
  margin-bottom: 28px;

  &--background {
    @include absolute-element();
    z-index: -1;

    &::before {
      @include absolute-pseudoelement();
      background-color: rgba(61, 61, 71, .14);
    }

    & img {
      height: 100%;
      object-fit: cover;
    }
  }

  &--content {
    color: white;
    z-index: 1;
    padding: 28px 49px;

    &-button {
      --size-button: 40px;
      height: var(--size-button);
      width: var(--size-button);
      border-radius: calc(var(--size-button) / 2);
      background-color: rgba(12, 12, 18, .56);
      margin-bottom: 28px;

      display: flex;
      color: white;

      transition: .3s background-color ease-in-out,
        .3s transform ease-in-out;

      &>* {
        margin: auto;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: rgba(12, 12, 18, .76);
      }
    }

    &-text {
      margin-bottom: 28px;
    }

    &-breadcrumb {
      font-family: var(--font-display);
      font-weight: 400;

      & span {
        letter-spacing: 1px;
        padding-left: 7px;
        transition: .2s background-color ease-in-out;
        font-size: 14px;
        border-radius: 8.5px;

        &:not(:last-child) {

          &::after {
            content: '-';
            display: inline-block;
            // position: absolute;
            width: 11px;
            text-align: right;
          }
        }

        &:last-child {
          font-weight: 700;
          padding-right: 7px;
        }

        &:hover,
        &.active {
          background-color: rgba(0, 0, 0, .49);
          cursor: pointer;
        }

      }
    }
  }
}

.filters-category {
  background-color: white;
  border-radius: 3px 9px;
  border: 1px solid #E5ECF4;
  margin-bottom: 28px;

  &--content {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;

    &-selection {
      display: flex;
      align-items: center;

      & label {
        font-size: 12px;
        font-weight: 500;
        color: var(--color-secondary);
        margin-right: 7px;
      }

      & select {
        --size-select: 24px;
        height: var(--size-select);
        border-radius: calc(var(--size-select) / 2);
        padding: 0 5px 0 14px;
        min-width: 170px;
        font-family: inherit;
        transition: .3s box-shadow ease-in-out;

        &:focus {
          border: 1px solid var(--color-primary-dark);
          box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075),
            0 0 0 0.2em rgba(103, 20, 143, 0.3);
          outline: none;
        }
      }
    }

    &-buttons {
      display: flex;
    }

  }
}

.professionals {
  display: flex;
  justify-content: space-around;
  justify-items: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.card-professional {
  flex: 0 0 264px;
  margin-bottom: 28px;

  &--content {
    background-color: white;
    border-radius: 7px 21px;
    overflow: hidden;
    box-shadow: var(--shadow-primary);
    z-index: 1;

    &-top {
      padding: 14px;
      position: relative;
      z-index: 1;
    }

    &-middle {
      padding: 0 14px;
      background-color: var(--color-support-light);
      margin-bottom: 14px;

      display: flex;
    }

    &-bottom {
      padding: 0 14px;
      height: 35px;
      margin-bottom: 49px;

      display: flex;

      &>*:first-child {
        margin-left: auto;
      }

      &>*:last-child {
        margin-right: auto;
      }
    }
  }

  & .primary-button {
    margin-top: calc((var(--size-element) / 2) - ((var(--size-element) / 2) * 2));
    margin-left: auto;
    margin-right: 14px;
  }
}

.content {

  &-text {
    &--title {
      font-family: var(--font-display);

      & h2 {
        font-size: 42px;
        font-weight: 500;
        margin: 0;
      }
    }

    &--subtitle {
      font-size: 15px;
      font-weight: 500;
    }
  }

  &-buttons {
    &--item {
      background-color: white;
      border: none;
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba(149, 80, 132, .16);
      color: var(--color-support-dark);
      transform: scale(1);
      transition: .3s background-color ease-in-out,
        .2s transform ease-in-out,
        .2s color ease-in-out;

      &:first-child {
        margin-right: 7px;
      }

      &:hover {
        background-color: var(--color-primary);
        color: white;
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }

  &-top {

    &--detail {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 63px;
      z-index: -1;

      &::before {
        --size-detail: 398px;
        content: '';
        position: absolute;
        height: var(--size-detail);
        width: var(--size-detail);
        border-radius: 50%;
        background: linear-gradient(90deg, var(--color-primary-dark), var(--color-primary-light));
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--professional {

      &-image {
        --size-image: 98px;
        height: var(--size-image);
        width: var(--size-image);
        border-radius: 50%;
        margin: 0 auto 14px;
        overflow: hidden;
        border: 4px solid white;

        & img {
          height: 100%;
          object-fit: cover;
        }
      }

      &-data {}
    }
  }

  &-middle {

    &--summary {

      &-item {
        flex: 0 0 calc(100% / 3);
        font-size: 10px;
        text-align: center;

        min-height: 75px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }

  &-bottom {
    padding: 0 14px;

    &--item {
      flex: 0 0 calc(100% / 5);

      display: flex;

      &-button {
        --size-element: 28px;
        background-color: var(--color-secondary);
        border: none;
        height: var(--size-element);
        width: var(--size-element);
        color: white;
        border-radius: calc(var(--size-element) / 2);
        margin: auto;

        display: flex;

        &>* {
          margin: auto;
        }
      }
    }
  }
}

.professional-data {

  &--top {
    display: flex;
    justify-content: center;
    align-items: center;

    &-name {
      margin-right: 7px;
      font-size: 16px;
      font-family: var(--font-display);
      font-weight: bold;

      & span {
        display: block;
        max-width: 180px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        text-transform: capitalize;
      }
    }
  }

  &--bottom {
    text-align: center;
    font-size: 12px;
    font-weight: 400;

    & span {
      display: block;
      max-width: 207px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 auto;
    }
  }
}

.summary-item {

  &--icon {
    display: inline-block;
    margin: 0 auto;
  }

  &--value {
    font-size: 14px;
    font-weight: 600;
  }
}
