<!-- <div class="header-main">
  <div class="primary-button active header-main--search">
    <div class="header-main--search-icon">
      <div class="md-icon">
        <i class="fas fa-search"></i>
      </div>
    </div>
    <div class="header-main--search-input">
      <input type="text" placeholder="Ingresa tu busqueda">
    </div>
  </div>

  <div class="main-icon">
    <div class="primary-button--icon main-icon--space">
      <div class="md-icon">
        <i class="ico cartaNoti-primary"></i>
      </div>
    </div>

    <div class="primary-button--icon main-icon--space">
      <div class="md-icon ">
        <i class="ico bell"></i>
      </div>
    </div>

    <div class="main-icon">
      <div class="main-icon--space">
        <img class="primary-button--icon" src="../../../assets/images/user.jpg" alt="">
      </div>
      <p> YojiBeb Gonzales Amaya</p>
    </div>

  </div>
</div> -->

<div class="main-content">

  <header class="header-category">
    <div class="header-category--background">
      <img src="../../../../assets/images/gardering.jpg" alt="">
    </div>

    <div class="header-category--content">
      <div class="header-category--content-button">
        <div class="md-icon">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" width="21px" height="10.2px" viewBox="0 0 21 10.2" xml:space="preserve">
            <defs>
            </defs>
            <path
              d="M14.3,5.9H4.5c-0.5,0-0.8-0.4-0.8-0.8v0c0-0.5,0.4-0.8,0.8-0.8h9.8c0.5,0,0.8,0.4,0.8,0.8v0C15.2,5.5,14.8,5.9,14.3,5.9z" />
            <path
              d="M20.2,4.3h-2.6c-0.5,0-0.8,0.4-0.8,0.8c0,0.5,0.4,0.8,0.8,0.8h2.6c0.5,0,0.8-0.4,0.8-0.8C21,4.6,20.6,4.3,20.2,4.3z" />
            <path d="M2.8,5.9L2.8,5.9L2.6,5.7c0,0,0,0,0,0c-0.3-0.3-0.3-0.8,0-1.2c0,0,0,0,0,0l0.2-0.2h0l2.9-2.9C6,1.1,6,0.6,5.7,0.2
	c-0.3-0.3-0.8-0.3-1.2,0L0.2,4.5c0,0,0,0,0,0c-0.3,0.3-0.3,0.8,0,1.2c0,0,0,0,0,0l4.3,4.3c0.3,0.3,0.8,0.3,1.2,0
	C6,9.6,6,9.1,5.7,8.8L2.8,5.9z" />
          </svg>

        </div>
      </div>
      <div class="header-category--content-text">
        <div class="content-text--title">
          <h2>Jardinería</h2>
        </div>
        <div class="content-text--subtitle">
          <span>Encuentra "chambas" para ese pendiente cerca de ti.</span>
        </div>
      </div>
      <div class="header-category--content-breadcrumb">
        <span>Inicio</span>
        <span>Categorías</span>
        <span class="active">Jardinería</span>
      </div>
    </div>
  </header>

  <section class="grid-container">
    <div class="filters-category grid-12">
      <div class="filters-category--content">
        <div class="filters-category--content-selection">
          <label for="selectionFilters">Ordenar por</label>
          <select name="selectionFilters" id="selectionFilters" [(ngModel)]="optionSelected" (change)="capturar()">
            <option *ngFor="let item of oficios" [value]="item.id">{{item.descripcion}}</option>
          </select>
        </div>
        <div class="filters-category--content-buttons">
          <button class="content-buttons--item">
            <div class="input-icon">
              <i class="fas fa-th"></i>
            </div>
          </button>
          <button class="content-buttons--item">
            <div class="input-icon">
              <i class="fas fa-th-list"></i>
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="grid-12">
      <div class="professionals">
        <ng-container *ngFor="let item of workers">

          <div class="card-professional">
            <div class="card-professional--content">

              <div class="card-professional--content-top">
                <div class="content-top--detail"></div>

                <figure class="content-top--professional-image">
                  <img src="../../../assets/images/user1.jpg" alt="">
                </figure>

                <div class="content-top--professional-data">

                  <div class="professional-data--top">

                    <div class="professional-data--top-name">
                      <span>{{ item.nombres }}</span>
                    </div>

                    <div class="professional-data--top-check default-check">
                      <div class="md-icon">
                        <i class="ico check"></i>
                      </div>
                    </div>

                  </div>
                  <div class="professional-data--bottom">
                    <span>{{ item.descripcion }}</span>
                  </div>

                </div>
              </div>

              <div class="card-professional--content-middle">

                <div class="content-middle--summary-item">
                  <div class="summary-item--icon">
                    <div class="input-icon">
                      <i class="ico bag-work"></i>
                    </div>
                  </div>
                  <div class="summary-item--description">
                    <span>trabajos</span>
                  </div>
                  <div class="summary-item--value">
                    <span>13</span>
                  </div>
                </div>

                <div class="content-middle--summary-item">
                  <div class="summary-item--icon">
                    <div class="input-icon">
                      <i class="ico valuation-default"></i>
                    </div>
                  </div>
                  <div class="summary-item--description">
                    <span>valoración</span>
                  </div>
                  <div class="summary-item--value">
                    <span>4.5</span>
                  </div>
                </div>

                <div class="content-middle--summary-item">
                  <div class="summary-item--icon">
                    <div class="input-icon">
                      <i class="ico quote"></i>
                    </div>
                  </div>
                  <div class="summary-item--description">
                    <span>cotizaciones</span>
                  </div>
                  <div class="summary-item--value">
                    <span>50</span>
                  </div>
                </div>
              </div>

              <div class="card-professional--content-bottom">

                <div class="content-bottom--item">
                  <button class="content-bottom--item-button">
                    <div class="input-icon">
                      <i class="fab fa-facebook-f"></i>
                    </div>
                  </button>
                </div>

                <div class="content-bottom--item">
                  <button class="content-bottom--item-button">
                    <div class="input-icon">
                      <i class="fab fa-twitter"></i>
                    </div>
                  </button>
                </div>

                <div class="content-bottom--item">
                  <button class="content-bottom--item-button">
                    <div class="input-icon">
                      <i class="fab fa-facebook-f"></i>
                    </div>
                  </button>
                </div>

                <div class="content-bottom--item button-group">
                  <div class="content-bottom--item-button">
                    <div class="input-icon">
                      <i class="fas fa-ellipsis-v"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <button class="primary-button active button" routerLink="/user-profile" >
              <div class="primary-button--icon">
                <div class="md-icon">
                  <i class="ico register-primary"></i>
                </div>
              </div>
              <div class="primary-button--content">
                <span> Ver perfil </span>
              </div>
            </button>
          </div>

        </ng-container>
      </div>

    </div>

  </section>

  <action-professional></action-professional>

  <!-- <div class="grid-4">
      <quote-component></quote-component>
    </div> -->

</div>
