<div class="header-main">
  <div class="primary-button active header-main--search">
    <div class="header-main--search-icon">
      <div class="md-icon">
        <i class="fas fa-search"></i>
      </div>
    </div>
    <div class="header-main--search-input">
      <input type="text" placeholder="Ingresa tu busqueda">
    </div>
  </div>

  <div class="main-icon">
    <div class="primary-button--icon main-icon--space">
      <div class="md-icon">
        <i class="ico cartaNoti-primary"></i>
      </div>
    </div>

    <div class="primary-button--icon main-icon--space">
      <div class="md-icon ">
        <i class="ico bell"></i>
      </div>
    </div>

    <div class="main-icon">
      <div class="main-icon--space">
        <img class="primary-button--icon" src="../../../assets/images/user.jpg" alt="">
      </div>
      <p> YojiBeb Gonzales Amaya</p>
    </div>

  </div>
</div>

<div class="main-content">
  <div class="banner-main">
    <div class="banner-main--content">
      <div class="banner-main--content-image">
        <div class="content-image--fillter"></div>
        <img src="../../../assets/images/gardering.jpg" alt="">
      </div>
      <div class="banner-main--content-quote">
        
        <div class="content-quote--header">
          <h2 class="content-quote--header-title">Jardinería</h2>
          <p class="content-quote--header-subtitle">Encuentra "chambas" que esten pendientes de ti.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-8">
    <div class="main-icon">
      <div class="main-icon">
        <p class="main-icon--space"> Ordenar por : </p>
        <div>
          <select class="border" name="" id="">
            <option value="">Mas buscados</option>
            <option value="">1</option>
            <option value="">1</option>
            <option value="">1</option>
          </select>
        </div>
      </div>

      <div class="main-icon">
        <div class="md-icon">
          <i class="ico galeryList"></i>
        </div>
        <div class="md-icon">
          <i class="ico galeryView"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="quote-comentary">
    <div class="grid-8 list-comentary">

      <!--   #1 --> 
    <div class="card ">
      <div class="card-content">
        <div class=" card-content--top">
          <div class="card-circle">
            <div class="card-image">
              <img class="image" src="../../../assets/images/user1.jpg" alt="">
            </div>
          </div>
          
        </div>
  
        <div class="card-content--center">
          <div class="center-name">
            <h2>Samule Lee</h2>
            <div class="md-icon">
              <i class="ico check"></i>
            </div>
          </div>
          <p> Jardineria en <span> Trujillo </span> </p>
        </div>
  
        <div class="card-content--inferior">
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
  
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
  
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
        </div>
  
        <div class="card-content--bottom">
          <div class="sm-icon font">
            <i class="ico face"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico msg"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico wpp"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico instagram"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico pinterest"></i>
          </div>
          <button>
            <div class="sm-icon font">
              <i class="ico point"></i>
            </div>
          </button>
        </div>
  
      </div>
      <button class="primary-button active button">
        <div class="primary-button--icon">
          <div class="md-icon">
            <i class="ico register-primary"></i>
          </div>
        </div>
        <div class="primary-button--content">
          <span> Ver perfil </span>
        </div>
      </button>
    </div>
  
    <!--   #2 --> 
  
    <div class="card ">
      <div class="card-content">
        <div class=" card-content--top">
          <div class="card-circle">
            <div class="card-image">
              <img class="image" src="../../../assets/images/user1.jpg" alt="">
            </div>
          </div>
          
        </div>
  
        <div class="card-content--center">
          <div class="center-name">
            <h2>Samule Lee</h2>
            <div class="md-icon">
              <i class="ico check"></i>
            </div>
          </div>
          <p> Jardineria en <span> Trujillo </span> </p>
        </div>
  
        <div class="card-content--inferior">
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
  
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
  
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
        </div>
  
        <div class="card-content--bottom">
          <div class="sm-icon font">
            <i class="ico face"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico msg"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico wpp"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico instagram"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico pinterest"></i>
          </div>
          <button>
            <div class="sm-icon font">
              <i class="ico point"></i>
            </div>
          </button>
        </div>
  
      </div>
      <button class="primary-button active button">
        <div class="primary-button--icon">
          <div class="md-icon">
            <i class="ico register-primary"></i>
          </div>
        </div>
        <div class="primary-button--content">
          <span> Ver perfil </span>
        </div>
      </button>
    </div>
  
    <!--   #3  --> 
    <div class="card ">
      <div class="card-content">
        <div class=" card-content--top">
          <div class="card-circle">
            <div class="card-image">
              <img class="image" src="../../../assets/images/user1.jpg" alt="">
            </div>
          </div>
          
        </div>
  
        <div class="card-content--center">
          <div class="center-name">
            <h2>Samule Lee</h2>
            <div class="md-icon">
              <i class="ico check"></i>
            </div>
          </div>
          <p> Jardineria en <span> Trujillo </span> </p>
        </div>
  
        <div class="card-content--inferior">
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
  
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
  
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
        </div>
  
        <div class="card-content--bottom">
          <div class="sm-icon font">
            <i class="ico face"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico msg"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico wpp"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico instagram"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico pinterest"></i>
          </div>
          <button>
            <div class="sm-icon font">
              <i class="ico point"></i>
            </div>
          </button>
        </div>
  
      </div>
      <button class="primary-button active button">
        <div class="primary-button--icon">
          <div class="md-icon">
            <i class="ico register-primary"></i>
          </div>
        </div>
        <div class="primary-button--content">
          <span> Ver perfil </span>
        </div>
      </button>
    </div>

  <!--   #4 --> 
    <div class="card ">
      <div class="card-content">
        <div class=" card-content--top">
          <div class="card-circle">
            <div class="card-image">
              <img class="image" src="../../../assets/images/user1.jpg" alt="">
            </div>
          </div>
          
        </div>
  
        <div class="card-content--center">
          <div class="center-name">
            <h2>Samule Lee</h2>
            <div class="md-icon">
              <i class="ico check"></i>
            </div>
          </div>
          <p> Jardineria en <span> Trujillo </span> </p>
        </div>
  
        <div class="card-content--inferior">
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
  
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
  
          <div class="inferior-info">
            <i class="fas fa-search"></i>
            <p>Trabajos</p>
            <h3>13</h3>
          </div>
        </div>
  
        <div class="card-content--bottom">
          <div class="sm-icon font">
            <i class="ico face"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico msg"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico wpp"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico instagram"></i>
          </div>
  
          <div class="sm-icon font">
            <i class="ico pinterest"></i>
          </div>
          <button>
            <div class="sm-icon font">
              <i class="ico point"></i>
            </div>
          </button>
        </div>
  
      </div>
      <button class="primary-button active button">
        <div class="primary-button--icon">
          <div class="md-icon">
            <i class="ico register-primary"></i>
          </div>
        </div>
        <div class="primary-button--content">
          <span> Ver perfil </span>
        </div>
      </button>
    </div>

  <!--   #5 --> 
  <div class="card ">
    <div class="card-content">
      <div class=" card-content--top">
        <div class="card-circle">
          <div class="card-image">
            <img class="image" src="../../../assets/images/user1.jpg" alt="">
          </div>
        </div>
        
      </div>

      <div class="card-content--center">
        <div class="center-name">
          <h2>Samule Lee</h2>
          <div class="md-icon">
            <i class="ico check"></i>
          </div>
        </div>
        <p> Jardineria en <span> Trujillo </span> </p>
      </div>

      <div class="card-content--inferior">
        <div class="inferior-info">
          <i class="fas fa-search"></i>
          <p>Trabajos</p>
          <h3>13</h3>
        </div>

        <div class="inferior-info">
          <i class="fas fa-search"></i>
          <p>Trabajos</p>
          <h3>13</h3>
        </div>

        <div class="inferior-info">
          <i class="fas fa-search"></i>
          <p>Trabajos</p>
          <h3>13</h3>
        </div>
      </div>

      <div class="card-content--bottom">
        <div class="sm-icon font">
          <i class="ico face"></i>
        </div>

        <div class="sm-icon font">
          <i class="ico msg"></i>
        </div>

        <div class="sm-icon font">
          <i class="ico wpp"></i>
        </div>

        <div class="sm-icon font">
          <i class="ico instagram"></i>
        </div>

        <div class="sm-icon font">
          <i class="ico pinterest"></i>
        </div>
        <button>
          <div class="sm-icon font">
            <i class="ico point"></i>
          </div>
        </button>
      </div>

    </div>
    <button class="primary-button active button">
      <div class="primary-button--icon">
        <div class="md-icon">
          <i class="ico register-primary"></i>
        </div>
      </div>
      <div class="primary-button--content">
        <span> Ver perfil </span>
      </div>
    </button>
  </div>


  </div>

   
  <div class="quote">
    <quote-component></quote-component>
  </div>
  </div>
  
 
  
  

</div>