.quote {
    &--tag {
        --size-tag: 21px;
        font-size: 14px;
        color: white;
        height: var(--size-tag);
        padding: 0 14px 0 7px;

        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 14px;
        position: relative;
        background-color: var(--color-primary-dark);
        z-index: 1;
        border-radius: 3px 7px;
    }
}
