<div class="background">
    <div class="body">
        <div class="body-register">
            <div class="body-register--logo"> <img src="../../assets/svg/logo-primary.svg" alt=""> </div>
            
            <p class="body-register--text"> REGISTRATE </p>
            
            <div class="body-register--input">
                <div class="input-global">
                    <div class="input-global--contenedor">
                        <input type="text" name="" id="" placeholder="Nombres">

                        <div class="menssage--button">
                            <div class="input-icon">
                                <i class="fas fa-user-alt" id="register"></i>
                            </div> 
                            
                            <div class="ms-icon">
                                <i class="fas fa-times-circle" id="clean"></i>
                            </div>
                            
                        </div>
                    </div>

                    <div class="input-global--menssage">
                        <span class="menssage-error"> Requerido </span>

                        <span class="menssage-errorInfo"> Valores Invalidos  </span>
                    </div>
                </div>
            </div>


            <div class="body-register--input">
                <div class="input-global">
                    <div class="input-global--contenedor">
                        <input type="text" name="" id="" placeholder="Apellidos">

                        <div class="menssage--button">
                            <div class="input-icon">
                                <i class="fas fa-user-alt" id="register"></i>
                            </div> 
                            
                            <div class="ms-icon">
                                <i class="fas fa-times-circle" id="clean"></i>
                            </div>
                            
                        </div>
                    </div>

                    <div class="input-global--menssage">
                        <span class="menssage-error"> Requerido </span>

                        <span class="menssage-errorInfo"> Valores Invalidos  </span>
                    </div>
                </div>
            </div>

               
            <div class="body-register--input">
                <div class="input-global">
                    <div class="input-global--contenedor">
                        <input type="text" name="" id="" placeholder="Fecha de nacimiento">

                            <div class="md-icon">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                    </div>

                    <div class="input-global--menssage">
                        <span class="menssage-error"> Requerido </span>

                        <span class="menssage-errorInfo"> Valores Invalidos  </span>
                    </div>
                </div>
            </div>

            <p class="body-register--text-sex">Sexo</p>

            <div class="genero">
              
                <div class="checkbox">
                    <input id="radiobtn_1" class="checkbox-selector" name="genero" type="radio" value="M" tabindex="1" >
                    <span></span>
                    <label for="radiobtn_1">Masculino</label>
                </div>


                <div class="checkbox">
                    <input id="radiobtn_2" class="checkbox-selector" name="genero" type="radio" value="F" tabindex="1">
                    <span></span>
                    <label for="radiobtn_2">Femenino</label>
                </div>


                <div class="checkbox">
                    <input id="radiobtn_3" class="checkbox-selector" name="genero" type="radio" value="SD" tabindex="1" >
                    <span></span>
                    <label for="radiobtn_3">Sin definir</label>
                </div>
            </div>


            <div class="body-register--input">
                <div class="input-global">
                    <div class="input-global--contenedor">
                        <input class="body-register--text-input" type="text" name="" id="" placeholder="E-mail">

                        <div class="menssage--button">
                            <div class="input-icon">
                                <i class="fas fa-user-alt" id="register"></i>
                            </div> 
                            
                            <div class="ms-icon">
                                <i class="fas fa-times-circle" id="clean"></i>
                            </div>
                            
                        </div>
                    </div>

                    <div class="input-global--menssage">
                        <span class="menssage-error">  </span>

                        <span class="menssage-errorInfo">  </span>
                    </div>
                </div>
            </div>
            
            <div class="body-register--input">
                <div class="input-global">
                    <div class="input-global--contenedor">
                        <input class="body-register--text-input" type="password" name="" id="" placeholder="Contraseña">

                        <div class="menssage--button">
                            <div class="input-icon">
                                <i class="fas fa-user-alt" id="register"></i>
                            </div> 
                            
                            <div class="ms-icon">
                                <i class="fas fa-times-circle" id="clean"></i>
                            </div>
                            
                        </div>
                    </div>

                    <div class="input-global--menssage">
                        <span class="menssage-error">  </span>

                        <span class="menssage-errorInfo">  </span>
                    </div>
                </div>
            </div>
            
            <div class="body-register--text-terms">
                <input type="checkbox" name="" id=""> Al crear su cuenta acepta haber leido y estar de acuerdo con
                nuestras Politicas de Privacidad y terminos de Uso
            </div>
        </div>

        <div class="body-text">
            <p class="body-text-title"> Encuentra o sé ese profesional</p>
            <div class="body-text-parrafo">
                <p> Inicia Sesion, cuentanos lo que necesitas y consigue cotizaciones GRATIS y sin compromisos.
                    Si eres profesional ofrece tu servicio y genera nuevos ingresos en nuestra comunidad
                </p>
            </div>
            <img src="../../assets/images/register.png" alt="">
        </div>
    </div>

</div>