<div class="background">
    <div class="body">
        <div class="body-register">
            <div class="body-register--logo"> <img src="../../assets/svg/logo-primary.svg" alt=""> </div>
            <div class="body-register--text">
                <p class="body-register--text-register"> REGISTRATE </p>

                <input class="body-register--text-input" type="text" name="" id="" placeholder="Nombres">
                <input class="body-register--text-input" type="text" name="" id="" placeholder="Apellidos">
                <input class="body-register--text-input" type="date" name="" id="" placeholder="Fecha de Nacimiento">

                <p class="body-register--text-sex">Sexo</p>

                <input class="body-register--text-selector" type="checkbox" name="" id=""> Masculino
                <input class="body-register--text-selector" type="checkbox" name="" id=""> Femenino
                <input class="body-register--text-selector" type="checkbox" name="" id=""> Sin Especificar

                <input class="body-register--text-input" type="text" name="" id="" placeholder="E-mail">
                <input class="body-register--text-input" type="password" name="" id="" placeholder="Contraseña">

            </div>
            
            <div class="body-register--text-terms">
                <input type="checkbox" name="" id=""> Al crear su cuenta acepta haber leido y estar de acuerdo con
                nuestras Politicas de Privacidad y terminos de Uso
            </div>
        </div>

        <div class="body-text">
            <p class="body-text-title"> Encuentra o sé ese profesional</p>
            <div class="body-text-parrafo">
                <p> Inicia Sesion, cuentanos lo que necesitas y consigue cotizaciones GRATIS y sin compromisos.
                    Si eres profesional ofrece tu servicio y genera nuevos ingresos en nuestra comunidad
                </p>
            </div>
            <img src="../../assets/images/register.png" alt="">
        </div>
    </div>

</div>